[2017-02-02 22:37] frodopwns opened #1 "Move drud api client into drud plugin and vault client into legacy plugin"
Previously there were multiple subcommands using global clients for drud api and vault.

In this new project those clients are only necessary in the plugins where those clients are needed.

The drud client is only used to get site data from drud hosting. The client should be instantiated on site init or in a new method in local/drud.go.

The vault client is used by the legacy plugin to retrieve si

[2017-02-02 22:41] frodopwns opened #2 "Remove legacy and drudapi plugins"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Task

**What you expected to happen**:
The "legacy" and "drudapi" plugins should be removed, and the 'local' plugin will become the default. (which will be defined in #27)

Done criteria:
- The legacy and drudapi plugins should be fully removed from the codebase.
- The words newmedia or legacy do not appear in the CLI or in documentation.

[2017-02-03 17:04] bdlangton opened #5 "Add support for install profiles"
For local Drupal development, sometimes we have a site that we want to install brand new every time we build it. Currently, `drud dev add ...` is limited to always pulling down an archive and using that site with the accompanying database. I would like the option to be able to `add` a site and specify that it should be built from the install profile instead. Typically, we have done this with a `ne

[2017-02-03 20:27] beeradb opened #6 "Migrate docs and fix inaccuracies"
_From @beeradb on January 30, 2017 18:51_

## What happened (or feature request):
We did a migration of drud documentation from confluence as a part of drud/general#23. Although there is a lot of potentially valuable information in that documentation, there's also a lot of inaccuracy. We need to go through it all and either update or remove the information which is no longer accurate. During my re

[2017-02-03 20:42] beeradb opened #7 "Resolve site repo / file structure assumptions and make them configurable"
_From @tannerjfco on January 24, 2017 16:15_

Implement `dcfg` to facilitate handling the "last mile" configurations needed to deploy a working site while removing our rigid repo structure assumptions

##  Current plan of attack:

- [x] Implement a new "template" plugin in dcfg to handle writing/placing configs for drupal and wp
- [x] Update `ddev` cli to remove config file writing and provide stu

[2017-02-03 20:55] beeradb opened #8 "Audit Plugin Interface"
We have a plugin interface, but it hasn't been well reviewed or extensively used. We should do a full review on it, specifically with an eye towards systems plugins we expect to need:

- Local DB/File import.
- Drush site archive plugin
- Pantheon plugin
- Platform.sh (?) plugin
- Legacy/newmedia plugin
- S3 compatible file storage plugin

It's also worth spending some time reviewing what other si

[2017-02-03 23:10] beeradb opened #9 "Determine best method for support container versions"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**Information**:
There is no way to specify nginx/mysql container versions except via the command line. It'd be nice to be able to commit this config so that it could be shared across a team. There's also no way to control templating for docker-compose.

Prior art:
https://github.com/docksal/drupal8/blob/master/.docksal/do

[2017-02-03 23:28] frodopwns opened #10 "Convert plugins to packages"
Many plugins will be complex enough to require multiple files for organization purposes. For this reason the platform plugin system should be converted to import the plugins as packages rather than files within the "local" package.

[2017-02-03 23:31] frodopwns opened #11 "Create resource plugins"
Many plugins will need to reach out to the same types of services for their resources.

Things like:
- S3
- GCS
- MYSQL
- local files/archives

Should be implemented in a way that plugins can all reuse the same methods to gather content.

[2017-02-03 23:36] frodopwns opened #12 "Change the name of the local package to something more appropriate"
Currently the platform plugin is the only plugin that exists so local was a good enough name. With the plan to add other types of plugins we should rename this one to something that identifies it more readily.

I would suggest "platform"

[2017-02-04 01:16] frodopwns opened #13 "Remove deps from vendoring that no longer apply"
There are bound to be unused packages in the vendor directory at this point. Remove all the things!

[2017-02-06 16:24] tannerjfco opened #14 "Use reserved .local TLD, remove plugin and env from hostname"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

Currently, local hostnames are in the pattern of http://plugin-environment-sitename. While this works, browsers don't seem to always handle the lack of TLD well, sometimes triggering undesired google searches. We also had feedback from developers that the plugin and environment name in the hostname of the site was confusin

[2017-02-06 19:01] beeradb opened #15 "Improve CLI Validation"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature

**Information**:
We require improved CLI Validation. drud/bootstrap#261 took this on, but was merged after the work to split `ddev` out began. We should port those changes (along with tests, naturally).

[2017-02-07 21:04] frodopwns opened #16 "Remove DRUD specific values from config functionality and put them where they belong"
Values like the DRUD_VAULTAUTHTOKEN and the DRUD_GITHUBAUTHORG should not show up in the config commands as they are specific to certain plugins.

Try to find a way to let the config commands pull data from the plugin(s) being used so that it is the plugin specifying the unique config items it needs.

[2017-02-15 17:32] #1 closed, assigned to nobody

[2017-02-23 17:28] frodopwns opened #26 "Adapt a local/archive plugin from one of the existing plugins"
Part of the 0.5 release is to have a plugin for spinning up a local site from assets that are already there.

The plugin should allow the user to place assets in a specified location and run the site. The user should also be able to override the paths to these assets.

Being able to provide archives instead of uncompressed files would be handy too. Potentially create an interface that devs can use

[2017-02-24 21:25] beeradb opened #27 "Create 'local' platform plugin and tests"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Task

**Information**:
We need the the ability to create ddev environments from a 'local' resource plugin

**What you expected to happen**:
Using a git checkout of a Drupal site on the local filesystem you should be able to perform a `ddev add` and have a functional local development environment. The primary focus of this issue is to get l

[2017-02-25 00:10] beeradb opened #28 "Update CLI with standard verbs/nouns and examples"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Task

**What you expected to happen**:
Before we build too much more on top of this, we should take a step back and look at the verbs/nouns used in the CLI and ensure the language matches what we want moving forward.

Done criteria:
1. Example `ddev add/stop/start/restart` usage for our 3 planned platforms signed off on by @rickmanelius (

[2017-02-25 00:21] beeradb opened #29 "Initial ddev documentation push"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Task

**What you expected to happen**:
We need to update documentation to cover all (supported) functionality for the 0.1 release.

Done criteria:

- Migrate docs from bootstrap and edit for correctness. They should go within a docs directory in the repo root.
- Docs migrated and updated to include all v0.1 functionality (add, start, stop,

[2017-02-27 16:28] tannerjfco opened #30 "ddev list returns "No Applications Found" if sitename contains a dash"
_From @rfay on February 3, 2017 19:12_

_From @tannerjfco on January 17, 2017 20:51_

`drud dev list` has recently stopped returning the list of applications provisioned on the system:

[code]

_Copied from original issue: drud/bootstrap#250_

_Copied from original issue: drud/general#48_

[2017-02-27 20:07] tannerjfco opened #31 "Deprecate the 'environment' concept"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

ddev (at least w/ the legacy plugin) requires that you specify an environment for a site in order to interact with it. This environment was intended to reflect what hosting environment you are importing from (staging, production, theoretically others). I believe this concept should be completely removed for the following r

[2017-02-27 20:42] beeradb opened #32 "WordPress installation support for 'local' plugin"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Task

**Information**:
This adds WP support to the work done in #27

Done criteria:
- Latest version of Wordpress should work with this local plugin
- MySQL connection information should be printed alongside the site URL to assist the user in installing WP
- Pulling in assets such as a DB dump or a files backup is not required for this, bu

[2017-02-27 21:00] beeradb opened #33 "Add asset imports for 'local' platform"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Task

## Done criteria

- Creation of `import-db` command
  - Has a `--db-src` flag which can be either a .sql file or a .tar.gz
  - If no `--db-src` flag is provided it will prompt for a value
  - Command will exit (not re-prompt) if the values entered via flag or prompt are invalid. Either by not existing or not being in the specified fo

[2017-02-27 23:01] rickmanelius opened #35 "As a developer, I want a describe command to provide connection/service info for a site"
Background: the intention behind this is to introduce and/or refine the list commands to include additional information about other tools and urls the end user would want to be aware of. Example: URLs to phpmyadmin.

Acceptance Criteria:
* `ddev describe` command exists.
* `ddev describe` can pull the sitename when run from within a working directory.
* `ddev describe SITENAME`can be run globally

[2017-02-27 23:04] rickmanelius opened #36 "Define and document user journey for each plugin"
## What happened (or feature request):

Feature Request

## What you expected to happen:

We need to ensure this product delivers a quality experience across the diverse set of end-users that will be using it as well as the different workflows they may be using. Examples:

* I am an advanced user looking to rapidly pull in a drush archive and get operational.
* I am an intermediate user that wishe

[2017-03-01 21:57] tannerjfco opened #39 "Remove associated docker volumes when ddev-removing a site/app"
## What happened (or feature request):
We are not cleaning up unused docker volumes, creating the potential for lots of disk space to be consumed. This also seems to occasionally create a scenario in which the mysql container for a site will end up stuck in a restart loop.

## What you expected to happen:
I expect to not have the mysql container intermittently exhibit a restart loop. I expect to h

[2017-03-01 22:11] tannerjfco opened #40 "Stop/remove the nginx-proxy container if no sites are up"
## What happened (or feature request):
Currently our nginx-proxy container remains running regardless of whether or not a user has sites active in ddev.

## What you expected to happen:
If there are no active sites, there should be no running nginx-proxy container. Occupying port 80 can be trouble for other programs that want to use it, and I suspect there were some issues that we couldn't get to

[2017-03-02 20:06] cyberswat opened #42 "Version Bump: ddev v0.4.0-dev"
## What happened (or feature request):

We decided as a group that we should bump the version in master after a release happens.  We agreed the interim version should add a -dev.  For example, v0.0.1 could use version v0.0.2-dev next.  We should update the existing ddev work to use this format moving forward.

[2017-03-06 22:13] rickmanelius opened #44 "As CLI user, I want the ability to interact with each site from any directory."
PROPOSAL STAGE

## What happened (or feature request):

Feature request.

## What you expected to happen:

I would like an optional parameter that allows me to target a ddev working directory from any directory. Example: "ddev describe" when within the working directory or "ddev @PROJECT describe" when anywhere else.

## Anything else do we need to know:

This will require the creation of a global

[2017-03-06 23:00] rickmanelius opened #45 "As a ddev developer, I want a flow diagram indicating typical use cases as well as CMS and provider support."
This is a documentation item to note the different use cases.

Suggestion from @beeradb is to split the current diagram into the installation and usage phases to reduce complexity.

[2017-03-07 23:55] #30 closed, assigned to tannerjfco

[2017-03-08 00:33] tannerjfco opened #47 "Rework current workspace approach to facilitate site working directory approach"
## What happened (or feature request):
Feature Request

TL;DR: I want to `cd ~/mysites/my-site-project` and run `ddev start` instead of `ddev start [sitename]` and `cd ~/.drud/plugin/sitename/src`

Our tool currently works by defining its own workspace, whose default is `~/.drud`. In this workspace, sites are organized by plugin, and each site has its folder structure generated when the site is ad

[2017-03-08 01:27] tannerjfco opened #48 "Remove import functionality from ddev add/start"
## What happened (or feature request):
Feature Request

The current `ddev add` command fully provisions a site, including import of db and placing files. This requires that you have an existing sql dump to import, which is not desirable when starting a new project, or doing a site install, or likely other scenarios.

The import functionality should be removed from this command so that the environm

[2017-03-08 16:42] #12 closed, assigned to nobody

[2017-03-08 20:52] tannerjfco opened #50 "Remove the plugin flag"
## What happened (or feature request):
Currently, we have a flag to specify what plugin a command should be run against. This is really annoying if you are not using the default plugin, as you must specify the `-p` flag for any command you want run against a non-default plugin.

## What you expected to happen:
To me it does not make sense for this to be a flag. I would propose moving it to configu

[2017-03-08 20:54] TopherGopher opened #51 "Fix help text associated with invalid commands"
## What happened (or feature request):
On running an invalid command, the help text still refers to `drud` and `drud legacy`.
[code]
## What you expected to happen:
It should say this instead:
[code]

## How to reproduce it (as minimally and precisely as possible):
Run an invalid command and look at the help text

[2017-03-09 17:31] rfay opened #54 "Use local site domain names that have a TLD of .local"
## What happened (or feature request):

We are currently using bare hostnames for our site URLs, for example "local-drud-d7-production". These pack a bunch of information in, but 1) It's not easy to sort out what each part means necessarily and 2) It makes it difficult to take specific actions based on the TLD. For example, a TLD of '.local' or '.ddev' might give more context about what's going on

[2017-03-09 20:26] rfay opened #56 "Remove all dependence on drud.yaml (and existing "config")"
## What happened (or feature request):

drud.yaml has nothing we want in it. There's no reason we should be relying on it.

* Remove the existing config command and functionality.
* Remove all usage of it.
* Make the 'local' plugin the only default for now.

## What you expected to happen:

No unexpected behavior due to drud.yaml

## How to reproduce it (as minimally and precisely as possible):

[2017-03-10 00:28] beeradb opened #57 "Create `ddev config` command"
## What happened (or feature request):
Feature Request

## What you expected to happen:
We need to develop a `ddev config` command to create and modify the config.yaml file through the CLI.

## How to reproduce it (as minimally and precisely as possible):
As defined in our workflow outline

### Check out the git repository and config a ddev site.

[code]

### Reconfigure an existing site

[code]

[2017-03-10 20:38] tannerjfco opened #59 "Determine how nginx configs could be configured per-site"
## What happened (or feature request):
Feature Request

Currently, we provide a pre-configured site config for nginx in the container that largely works for drupal or wordpress sites. We do not provide a way that a user would be able to change an nginx configuration with any persistence.

## What you expected to happen:
There are a variety of reasons why an nginx configuration might need to change

[2017-03-10 21:49] tannerjfco opened #60 "Determine how to support non-default drupal public/private files directories"
## What happened (or feature request):
We currently assume that sites will use the standard public files path of sites/default/files when determining where imported files should go, and how nginx rewrite rules are configured to support imagestyles.

## What you expected to happen:
We will need to provide a way to make public and private file paths configurable. Unfortunately these configurations a

[2017-03-10 22:18] #31 closed, assigned to nobody

[2017-03-14 21:46] tannerjfco opened #66 "Implement a readiness check for `ddev start`"
## What happened (or feature request):
In #52 the previous add command was split into "start" and "import", allowing for import to happen separately from starting a site environment. With this change, the HTTP 200 Status check previously run during "add" was added to the new "import" command, but it was not added to the "start" command. The reasoning behind this was that there are a large number o

[2017-03-14 22:17] tannerjfco opened #67 "Move plugin name from container name prefix to docker label"
## What happened (or feature request):
Currently, our containers are named in the format of [plugin]-[sitename]-[container-type]. This exposes concept of plugin which is not really necessary until we are listing sites sorted by plugin, in the list function.

## What you expected to happen:
We should be able to move the plugin from a prefix of the container name to a docker label in the compose fil

[2017-03-14 22:49] tannerjfco opened #68 "Provide validation for exec commands"
## What happened (or feature request):
Our previous validation for this cmd no longer applies, as it was checking for a specific number of args in conjunction with app name / env name. We still need some validation here.

## What you expected to happen:
"ddev exec" with no other arguments should not panic and instead return usage.

A check should be added to determine if there is more than one arg

[2017-03-14 22:56] #48 closed, assigned to nobody

[2017-03-14 22:59] #16 closed, assigned to nobody

[2017-03-14 23:07] #2 closed, assigned to rfay

[2017-03-14 23:12] #50 closed, assigned to nobody

[2017-03-14 23:36] #56 closed, assigned to nobody

[2017-03-14 23:58] rfay opened #69 "Remove dcfg binary from docker.nginx-php-fpm, fix up start.sh"
_From @rfay on March 14, 2017 23:31_

## What happened (or feature request):

We have an old version of the dcfg binary checked into at least one of our git repositories, and pushed into the resultant docker containers. This should not be, and we have no reason for it to be there.

In addition, we have drud-specific behavior in [start.sh](https://github.com/drud/docker.nginx-php-fpm/blob/master/ph

[2017-03-14 23:58] rfay opened #70 "Improve php.ini/mailhog configuration in nginx-php-fpm7-local container"
_From @rfay on March 14, 2017 23:24_

## What happened (or feature request):

After a `ddev start` followed by install of a wordpress site, I see this in the php7.0-fpm.log  :

[code]

## What you expected to happen:

php.ini should be configured to use Mailhog to deliver mail, not use /usr/sbin/sendmail

## How to reproduce it (as minimally and precisely as possible):

1. `ddev start` with drudio

[2017-03-15 00:32] #13 closed, assigned to rfay

[2017-03-15 21:44] tannerjfco opened #72 "Re-introduce tests for list, exec, logs commands"
## What happened (or feature request):
As noted in #71, recent major refactors invalidated much existing test coverage. That PR is introducing new coverage at the platform package level, but the following commands currently contain a fair amount of business logic in their command functions. In the longer-term, we should work to move a lot of this functionality out of the command functions and into

[2017-03-15 21:58] tannerjfco opened #73 "Refactor command functions to move business logic out of cmd package"
## What happened (or feature request):
The following command functions currently handle a lot of business logic that should be pulled out of the cmd package, and into either the platform package or another package as applicable. The command functions should then call the functions from the new package location to satisfy their functionality requirements.

- [x] exec
- [x] hostname
- [x] list
- [x]

[2017-03-16 14:23] #47 closed, assigned to tannerjfco

[2017-03-16 15:44] rfay opened #78 "ddev stop and ddev rm need a way to execute without workspace"
## What happened (or feature request):

I was trying to clean up sites/apps that were left running after tests and did not know where the related workspaces were. It led to a frustration that real users will have: "I want to delete an app but have no idea how".

## What you expected to happen:

I expect to be able to clean up without knowing arcane knowledge about where an app may be.

## How to r

[2017-03-17 13:59] #42 closed, assigned to nobody

[2017-03-17 14:17] rfay opened #80 "Resolve ddev "WARNING: Found orphan containers""
## What happened (or feature request):

ddev start often gives things like this. These are probably just transitional, but I don't think there's a reason not to get rid of this with --remove-orphans:

`
WARNING: Found orphan containers (local-drud-d8-web, local-drud-d8-db, local-drud-d7-web, local-drud-d7-db, nginx-proxy) for this project. If you removed or renamed this service in your compose fil

[2017-03-17 17:37] rickmanelius opened #81 "Hide (gray out) "sequelpro" command when it is not available in path"
## What happened (or feature request):

As per the decisions in https://github.com/drud/ddev/issues/28#issuecomment-286201906, we are removing the sequelpro as a top level command within ddev until we can determine a better home and/or solution.

## What you expected to happen:

I should no longer see "sequelpro" as an option when running "ddev" from the command line.

## Anything else do we need

[2017-03-17 17:49] #28 closed, assigned to rickmanelius

[2017-03-17 19:24] #69 closed, assigned to rfay

[2017-03-17 21:26] #14 closed, assigned to nobody

[2017-03-17 23:03] #66 closed, assigned to nobody

[2017-03-21 16:23] #57 closed, assigned to beeradb

[2017-03-21 17:25] rickmanelius opened #84 "Add describe command"
## What happened (or feature request):

Feature request

## What you expected to happen:

As per the discussion here https://github.com/drud/ddev/issues/28#issuecomment-286201906. After a user runs `ddev list`, they can then get additional information of a site (specifically metadata associated with the services available and database credentials, including database username, password, and databas

[2017-03-21 17:29] #84 closed, assigned to rickmanelius

[2017-03-21 20:29] #10 closed, assigned to nobody

[2017-03-21 20:37] #11 closed, assigned to nobody

[2017-03-21 20:38] #26 closed, assigned to nobody

[2017-03-21 21:26] #6 closed, assigned to beeradb

[2017-03-21 21:26] #8 closed, assigned to nobody

[2017-03-21 21:42] #51 closed, assigned to TopherGopher

[2017-03-23 19:07] TopherGopher opened #86 "Sanitize Site Names"
## What happened:
I created a site with sitename with a suspected invalid character. When I attempted to take the site through the workflow, the site spin-up failed with an Exit code 1.

## What you expected to happen:
I expected the site to come up all the way.

## How to reproduce it (as minimally and precisely as possible):
Create a folder with an invalid site name and use it as the default sit

[2017-03-23 22:05] rickmanelius opened #87 "ddev logs to provide only nginx error logs; instructions for advanced users on other logs"
This requires the containers to have logging enabled by default and the ability to access them. We don't have a top-level command stubbed out for this, so this would rely on `exec` for now.

[2017-03-23 22:08] rickmanelius opened #88 "As a developer, I want XDebug step-debugging support for IDEs like PHPStorm"
## What happened (or feature request): We need to provide PHP Step Debugging for ddev sites.

* There are two ways of doing step-debugging in PHPStorm, we'll need to explain both run/debug configurations and zero-configuration debugging approaches. They both work perfectly and immediately when host and container are configured properly.
* Requirements on the host:
    * Determining a usable port f

[2017-03-23 22:08] rickmanelius opened #89 "Finish MailHog integration"
# What happened (or feature request)
We previously added [MailHog](https://github.com/mailhog/MailHog) to our local web container image. While this seems to be a working integration, it is incomplete from several standpoints:

- It is undocumented
- How to access it is not exposed or documented in any way
- There is no test coverage supporting it

# What you expected to happen
The mailhog integrat

[2017-03-23 22:09] rickmanelius opened #90 "As a PHP developer, I want to be able to use Composer."
Acceptance Criteria
* Latest version of composer is installed and available in the webserver container.
* Composer binary is reachable and executable within $PATH run via `ddev exec`.

[2017-03-23 22:10] rickmanelius opened #91 "As a developer, I want the ability to use phpMyAdmin."
## Acceptance Criteria

* Connection details accessible in ddev describe
* Documentation on usage.

## Testing Criteria

* Reaching the URL:port for php admin should return a 200.
* There should be a means to confirm phpMyAdmin is serving properly (perhaps attempt to pull a 200 response directly from index.php).

[2017-03-23 22:12] rickmanelius opened #92 "As a developer, I want SequelPro support"
Acceptance Criteria

* Connection details accessible in `ddev describe`
* Documentation on usage.
* Resolution of https://github.com/drud/ddev/issues/81.

[2017-03-24 16:30] rickmanelius opened #93 "As a community, I want a roadmap."
## What happened (or feature request):

* Feature request

## What you expected to happen:

* Users evaluating ddev should see not only the current feature set, but the defined roadmap that is ready for public consumption.
* As features are completed, the roadmap is updated alongside tests and documentation.

## Anything else do we need to know:

There will likely need to be short and long term so

[2017-03-24 19:02] TopherGopher opened #94 "Cannot clear out old instances from ddev if the .ddev folder is deleted"
## What happened:
I misconfigured a site during `ddev config`, but didn't figure it out until I ran `ddev start` and the site came back with a 403 status code. I wiped the .ddev folder and decided to just re-run `ddev config` and `ddev start`. The commands came back with successful status codes. I realized that the old containers were still running, but both

## What you expected to happen:
I shou

[2017-03-24 19:24] rickmanelius opened #95 "As a front-end developer, I want access to common tools."
## What happened (or feature request):

Feature request.

## What you expected to happen:

Many users in the role of site-builder, themer, and/or front-end developer are used to having access to tools (e.g. sass, less, gulp, grunt, compass, etc.) readily available. For local development, our images should support having these tools available.

## Anything else do we need to know:

Some of these to

[2017-03-24 19:54] TopherGopher opened #96 "When a container has been removed, rewrite permissions back to user"
## What happened
After removing a site I attempted to clean-up the directory, but encountered a permission error when trying to remove the working directory.

## What you expected to happen
I should have been able to shut down the site and then remove it without using sudo permissions.

## How to reproduce it
Shut down a running site and remove it, then try to delete the directory the site was in.

[2017-03-24 20:04] TopherGopher opened #97 "Allow a blank value for docroot if the first value is wrong in ddev config"
## What happened (or feature request):
When running `ddev config`, I entered a folder name the first time that didn't exist. I decided to set the root instead back to the top-level of the project, but couldn't submit a blank input.

## What you expected to happen:
I should have been able to submit a blank input denoting that the docroot was in the project root folder.

## How to reproduce it (as m

[2017-03-24 21:34] rickmanelius opened #98 "As an end-user, I want a way to quickly install ddev via a script"
## What happened (or feature request):

Feature request.

## What you expected to happen:

At the present moment, end-users need to download all necessary dependencies for ddev (i.e. Docker and Go), clone the ddev repository, compile the binary, and set the environment path. While this should not be difficult for a user that is familiar with the command line, it would be preferable to have a scrip

[2017-03-24 21:44] rickmanelius opened #99 "As an end-user, I want notifications and instructions regarding upgrades."
## What happened (or feature request):

Feature Request

## What you expected to happen:

Given that we decided to not allow for upgrades/updates (see https://github.com/drud/ddev/issues/28#issuecomment-286201906), we still should prompt a user every so often to inform them an update exists. We will do this whenever an end-user runs `ddev version`, but not everyone will check that and we may want

[2017-03-27 21:13] #29 closed, assigned to nobody

[2017-03-27 22:12] rfay opened #103 "Turn on circle testing for MacOS"
## What happened (or feature request):

We had a failure on MacOS for ddev that we did not see on Circle testing. Circle testing is currently Linux only.

A fix is to turn on Circle's MacOS testing, which costs $39/month for concurrency=2.

## What you expected to happen:

Consistent results between the two.

## How to reproduce it (as minimally and precisely as possible):

It's unusual.

## Anyth

[2017-03-28 13:34] rfay opened #106 "Create master build for ddev, start nightly build of all components."
## What happened (or feature request):

Feature Request: We need a master build for ddev which verifies that all of its components work as of the current time; the master build can then be run in a Circle nightly build.

This is a spinoff/specialization of drud/general#17, which is too general and basically needs to be retired.

- [x] Finish master build (currently in https://github.com/drud/build

[2017-03-28 17:10] tannerjfco opened #107 "Update wordpress wp-config.php template"
## What happened (or feature request):
The template we currently use for `wp-config.php` is a customized version that makes many assumptions, such as use of a custom core directory, custom uploads, etc.

## What you expected to happen:
The `wp-config.php` file we write should only configure what we minimally need to facilitate a site's import and operation. Beyond that, we should allow the configu

[2017-03-28 17:33] tannerjfco opened #108 "Provide a wp-cli command hint to adjust WP production URL"
## What happened (or feature request):
Feature Request

In short, Wordpress relies heavily on the full URL of the site. Unlike Drupal, Wordpress does not store paths to uploaded files as relative paths. They are instead referenced by the full URL path to the asset. This means that in order to deploy a copy of a wordpress site that will run from a different URL than the original, the URL must be co

[2017-03-28 18:54] #72 closed, assigned to tannerjfco

[2017-03-28 21:26] rfay opened #110 "nginx-php-fpm container should not change permissions/ownership of mounted files"
## What happened (or feature request):

The /start.sh that we ship with nginx-php-fpm7 container does this:

`chgrp -R nginx /var/www/html`

This changes the file permissions of the mounted files, which is pretty much a no-no.

It also takes forever, and makes our ddev startup take 30+ seconds when it could probably take just 5-6 seconds (to be seen).

## What you expected to happen:

File permiss

[2017-03-28 22:28] #27 closed, assigned to cyberswat, beeradb, tannerjfco

[2017-03-30 15:17] #94 closed, assigned to nobody

[2017-03-30 18:50] #80 closed, assigned to tannerjfco

[2017-03-31 23:05] rfay opened #117 "Security: ddev can be used to sudo an arbitrary command"
## What happened (or feature request):

ddev does a [sudo on itself](https://github.com/drud/ddev/blob/master/pkg/plugins/platform/local.go#L404) in order to update /etc/hosts, which requires root privs.

However, the command there does not specify the path to the "ddev" command, so it would be trivial for an attacker to gain root privileges and execute arbitrary commands with root privs just by p

[2017-04-03 17:33] rickmanelius opened #118 "v0.2 Release Checklist"
This issue contains a list of close-out actions and administrative items. It pulls from https://github.com/drud/general/issues/3#issuecomment-291197831, which is a draft proposal for our release checklist.

## Acceptance Criteria

* [x] Review release (product owner)
* [x] Approve release (product owner and release manager)
* [x] Create binaries (any DRUD maintainer)
* [x] Draft release notes (rel

[2017-04-03 17:34] rickmanelius opened #119 "v0.3 Release Checklist"
This issue contains a list of close-out actions and administrative items. It pulls from https://github.com/drud/general/issues/3#issuecomment-291197831, which is a draft proposal for our release checklist.

## Acceptance Criteria

* [x] Review release (product owner)
* [x] Approve release (product owner and release manager)
* [x] Create binaries (any DRUD maintainer)
* [x] Draft release notes (rel

[2017-04-03 19:29] rickmanelius opened #120 "Proposal: GUI"
## What happened (or feature request):

Feature Request

## What you expected to happen:

As part of the longer-term vision/roadmap, we will obtain greater adoption (particularly in certain target demographics) if we have a GUI option that essentially mimics/mirrors the functionality that already exists on the command line.

Given that this will require quite a bit of conversation and isn't specif

[2017-04-03 20:05] rickmanelius opened #121 "As a developer, I want the ability to use custom containers."
## What happened (or feature request):

Feature Request

## What you expected to happen:

Many end-users will need additional services beyond a webserver and database container. Examples include Solr, Redis, Varnish, and/or memcache. Additionally, end-users may need to specify their own containers that match a variety of hosting providers OR their specific production environments.

# Acceptance Cr

[2017-04-03 20:17] rickmanelius opened #122 "As a developer, I want a strategy for integration with 3rd party providers."
## What happened (or feature request):

Feature Request

## What you expected to happen:

As part of the overarching goals of the DRUD product suite, we have made `ddev` such that it can be used as a stand-alone project. That said, we want to make sure that it can integrate with various 3rd party PaaS hosting solutions as well as other endpoints (which can be as simple as a drush archive). The con

[2017-04-05 03:28] rfay opened #125 "ddev should support bash autocomplete"
## What happened (or feature request):

ddev doesn't currently seem to support bash/zsh autocomplete. But *everybody* else does :)

## What you expected to happen:

I expect to be able to hit tab and get autocomplete suggestions.

## How to reproduce it (as minimally and precisely as possible):

Type `ddev ` and hit tab.

## Anything else do we need to know:

At the time this ticket is being addre

[2017-04-05 13:33] rfay opened #126 "Test port 80 rather than just try to use it: Graceful sharing and management"
## What happened (or feature request):

People will have processes on their machine that use port 80.  We need to handle that situation by
- Testing the port
- Optionally figuring out the process that is using the port
- Gracefully explaining the situation to the user (and not trying to bind to the port)
- Optionally offer to use a different port (edit: Spun off to #481 )

Edit: Note that 3306 was

[2017-04-05 13:57] rfay opened #127 "ddev stop/start <anything> is accepted as a command, but only starts current app (arg processing)"
## What happened (or feature request):

I tried `ddev stop drud-d7` while in the drud-d8 app (testing [ddev describe PR #116](https://github.com/drud/ddev/pull/116). It stopped drud-d8 instead of drud-d8. The fact is that all arguments are accepted, for example `ddev stop this stinking devsite` is accepted (and acted upon).  I did this in light of the fact that we now support "app" as 3rd arg of `

[2017-04-05 19:53] rfay opened #129 "Rework code to avoid shelling out to external commands"
## What happened (or feature request):

ddev has a huge pile of places where we rely on shelling out to Unix/Linux/MacOs commands. Each one of these is a fatal bug when we get to Windows, and is even a vulnerability in MacOS usage, as the command it finds in the path might be different from what we expect, or might not be available.

Basically, we need to go back through and remove the shelling ex

[2017-04-05 19:57] rfay opened #130 "Respect settings.php where it exists (if ddev didn't create it)"
## What happened (or feature request):

For Drupal sites, we currently
1. Overwrite the settings.php if it exists
2. With a settings.php which includes settings.local.php

This seems problematic because many sites actually check the settings.php deliberately into code (without sensitive details, which go in settings.local.php or equivalent). So we could "help" a dev to introduce an unwanted change

[2017-04-05 20:43] rfay opened #131 "Security: Files created by drupal in sites/default/files have root owner"
## What happened (or feature request):

I note that files created by Drupal/nginx in sites/default/files get saved as root:root (within the container, MacOS). I'm not sure how this can be since nginx worker procs are running as nginx user. This doesn't cause a lot of trouble on MacOS as the file comes through as the docker user. But on Linux it would come through as user 0.

## What you expected t

[2017-04-05 22:45] #103 closed, assigned to rfay

[2017-04-10 14:08] rfay opened #134 "os.TempDir() features fail with docker, causing tests to fail on MacOS"
## What happened (or feature request):

In https://github.com/drud/ddev/pull/116 @beeradb introduced very standard [usage of os.TempDir()](https://github.com/drud/ddev/blob/3a959d0bf4d5dd264b2cf69d8470e9de31691475/pkg/testcommon/testcommon.go#L32)

On MacOS, though, the resultant directories don't seem to be mount-able by docker. The out-of-the-box TMPDIR on a Mac is generally something like /var/

[2017-04-10 23:34] rfay opened #136 "ddev project name (and hostname) uniqueness should be enforced"
## What happened (or feature request):

I tried a `ddev config` and used an existing 'name'. Then I did a `ddev start`. The new repo/ddev app took over the containers of the previously-existing app without warning.

## What you expected to happen:

I would expect that either
1. 'name' is *not* unique, where multiple apps named 'drupal8' could co-exist
or
2. uniqueness of names is enforced
or
3. th

[2017-04-11 17:53] beeradb opened #139 "Make name, dba, dbimage and webimage optional in config.yaml"
## What happened (or feature request):
We have the `dbimage` and `webimage` keys committed to all of our test/demo repositories. This means to run tests using a new container you need to update those repositories and then create a release with the new images in them. It's a very ham-handed way of running tests with custom container versions.

## What you expected to happen:
- Remove the `dbimage`

[2017-04-14 23:05] #134 closed, assigned to nobody

[2017-04-14 23:06] tannerjfco opened #147 "Add import support for zip"
## What happened (or feature request):
Feature Request
Our import functionality currently only supports tar/gz format archives, but ZIP is a pretty popular archive format as well, and we don't support that.

## What you expected to happen:
We should introduce support for zip format archives so that we can support the most popular archive formats for users.

## Anything else do we need to know:

##

[2017-04-17 14:02] #35 closed, assigned to beeradb

[2017-04-17 14:05] #89 closed, assigned to tannerjfco

[2017-04-18 02:09] rfay opened #149 "ddev mistakenly uses directory of ddev as location for .ddev instead of actual site dir"
## What happened (or feature request):

I tried to run ddev with an absolute path and it created the .ddev in the directory of the ddev binary instead of in the current directory:

[code]

## What you expected to happen:

.ddev location should be unrelated to the directory where ddev is.

## How to reproduce it (as minimally and precisely as possible):

1. Copy ddev to /tmp
2. Run `/tmp/ddev confi

[2017-04-18 13:36] rickmanelius commented on #139
I would agree with Randy. For debugging purposes, it would seem that name would be good to swap out. Same with the removal of phpmyadmin. If there are no strong dissents, I think inventorying out the repos explicitly would make this reviewable (and therefore actionable). Added to v0.3 milestone because this will affect tests in the very near term.

[2017-04-18 14:44] rickmanelius commented on #88
Given the PRs for the functionality (https://github.com/drud/docker.nginx-php-fpm-local/pull/11) and the documentation (https://github.com/drud/ddev/pull/124) have been merged, I think it's safe to call this done. Thanks, everyone!

[2017-04-18 14:44] #88 closed

[2017-04-18 14:50] rickmanelius commented on #32
This looks like this ticket is mostly in a clean-up state. To confirm, I would like a manual test of spinning up a WordPress site using our WordPress repo (https://github.com/drud/wordpress) and then for testing purposes, like Drupal we just need to verify that we can get to the install screen.

In the future, I think it would be helpful to actually step through a Drupal site profile install and W

[2017-04-18 14:55] rickmanelius commented on #32
I'm pleased to report that it took all of 3 minutes from the time I finished this request to manually testing a successful WordPress install. I'm very happy about that :)

Now it's more about testing. We can either push the tests off to other tickets (example, the wp-config.php, describe, and import commands), or we can do more of an integrated test that actually runs `ddev exec` for drush and/or

[2017-04-18 15:50] rfay commented on #130
So @tannerjfco this is totally resolved in #123 right? So can be closed?

[2017-04-18 16:03] tannerjfco commented on #130
I believe the major concerns addressed here are resolved with the behavior change i described in #123. If we're good with that this can be closed.

[2017-04-18 16:03] rfay commented on #130
Closing for now then.

[2017-04-18 16:03] #130 closed

[2017-04-18 16:09] tannerjfco commented on #107
This is introduced in #123, closing.

[2017-04-18 16:09] #107 closed

[2017-04-18 16:11] tannerjfco commented on #90
Closing since composer is in and related issues were identified as beyond the scope of this ticket.

[2017-04-18 16:11] #90 closed

[2017-04-18 16:14] rfay commented on #127
I'd like to go ahead and do this one just from an args-processing viewpoint (give the usage if they add extra args). It's trivial (I think).

[2017-04-18 16:18] tannerjfco commented on #127
The behavior for start is addressed in #123, as we wanted similar behavior on import commands. For stop/rm, we were discussing different behavior in #78. I think we should close this ticket and resolve the other commands with the decided path forward on #78

[2017-04-18 16:20] rfay commented on #127
Works for me, closing in favor of #123 - when we do that though let's make sure that all commands don't accept spurious extra args.

[2017-04-18 16:20] #127 closed

[2017-04-18 16:23] beeradb opened #153 "Improve `ddev list` command"
## What happened (or feature request):
We haven't updated the `ddev list` command since we forked this from the original drud too. We did add the very helpful `ddev describe` which gives detailed information about a running site, but the `ddev list` command is lacking in several ways.

[code]

As you can see, there's no info about where the site is located, and it still uses the outdated database

[2017-04-18 16:32] rfay commented on #153
I agree that the database URL can be moved out of here, and it's wrong anyway right, because we now have routing for it?

Please add:
* Check 'status' for reasonable values that are obvious.

Do you think the LOCATION could be shortened somehow? I'd assume it will often be in ~, which saves some (and makes clearer). Not sure how to do that well or properly.

[2017-04-18 16:35] tannerjfco commented on #153
We should be able to detect user's home dir and shorten for display.

I actually think we could do without TYPE as well to free up some space. Users tend to know what platform their site is, and we still have the info in describe.

[2017-04-18 16:37] beeradb commented on #153
The homedir thing seems like an obvious win to me. As for removing type or finding other ways to shorten it, I'd be open but would love to see a need established before we jump to doing that (i.e. at what resolution/font size does this actually become an issue?).

[2017-04-18 16:49] tannerjfco opened #154 "Rename rm and ssh commands"
## What happened (or feature request):
Feature request. Currently, the majority of our command names are full word or close to it, which helps provide clarity to their intent. This is not the case for two of our commands, rm and ssh, and while I don't think it's hard to understand what these commands are for, they could still be clearer.

## What you expected to happen:
I propose that

1. "rm" be

[2017-04-18 19:04] #149 closed

[2017-04-18 19:12] rfay opened #157 "Download code does not fail properly when file unavailable"
## What happened (or feature request):

[system.DownloadFile()](https://github.com/drud/ddev/blob/a9b3e2d2a65d8bce746b0ad361b3559a05f14138/vendor/github.com/drud/drud-go/utils/system/system.go#L66-L89) (from drud-go) doesn't handle a missing target asset correctly; it downloads a file saying "404" or something like that. This is used extensively in our testcommon stuff and results in failure after

[2017-04-18 19:26] rfay commented on #154
I'd personally like to keep ssh as an alias :) Just so natural, and based on vagrant usage.

[2017-04-18 22:29] rfay commented on #117
In order to keep the scope of this reasonable, here's what I propose at this time:

1. When sudo is needed, prompt the user what is about to happen, giving them the command that will be executed.
2. When they grant permission, execute the command
3. Use the full path of the running ddev in the sudo command.

In the future it would be fantastic to do some kind of name resolution instead. And it mig

[2017-04-18 22:42] rfay commented on #86
Mostly we should be able to handle the vast majority of characters, anything that's utf-8. Except what's not allowed in a domain name right?

It looks like the old ascii rules are in http://www.ietf.org/rfc/rfc1034.txt
And the new IDNA rules are in https://en.wikipedia.org/wiki/Internationalized_domain_name

So we probably just have to choose a strategy and then normalize for it. IMO forcing ascii

[2017-04-19 01:22] beeradb commented on #33
This can be closed out now that #123 is in! congrats!

[2017-04-19 01:22] #33 closed

[2017-04-19 01:23] beeradb commented on #91
Closed out with #144!

[2017-04-19 01:23] #91 closed

[2017-04-19 14:04] rickmanelius commented on #93
Once this is reviewed/approved (https://github.com/drud/general/issues/3), then I'm unblocked to carry this to the finish line.

[2017-04-19 14:07] rickmanelius commented on #32
Need feedback from either @rfay @beeradb @tannerjfco on what we want to do for an automated test (if anything). If nothing, this is complete.

[2017-04-19 15:19] beeradb commented on #32
I would love to see a wordpress site added to our existing test coverage, preferably including an import (to check config functionality).

It seems like this could also be a great time to get explicit test coverage on the MySQL connection at  `sitename.ddev.local:3306`, although perhaps the import tests we have for drupal7/8 for other sites do that well enough.

[2017-04-19 15:27] tannerjfco commented on #32
Wordpress was added to the test sites for local plugin tests in #123. https://github.com/drud/ddev/blob/master/pkg/plugins/platform/local_test.go#L30

[2017-04-19 15:28] beeradb commented on #32
well then! I feel like we're probably pretty good on this, then.

[2017-04-19 19:34] rickmanelius commented on #108
I'm revisiting this because I feel it's imperative that we test/confirm that we can get a working WP site with image assets. Without this in place, imports will always appear broken to user that doesn't understand how to perform the seach/replace with WP-CLI.

[2017-04-19 19:37] rickmanelius commented on #32
Cool. So I'm assuming this tests a success load of the install page. We'll revisit the need to test working site installs later on.

[2017-04-19 19:37] #32 closed

[2017-04-19 19:38] rickmanelius commented on #36
Moving the milestone because this has not been a first-class focus, but it needs to be resolved in conjunction with the planning for provider plugins.

[2017-04-20 00:13] rfay opened #161 "Missing error check on docker-compose actions (or at least ddev rm)"
## What happened (or feature request):

I was doing an 'rm' on a site, but I had introduced an error in the docker-compose.yaml, and ddev informed me that it was successful:

[code]

## What you expected to happen:

An error + failure should have been emitted.

## How to reproduce it (as minimally and precisely as possible):

Introduce an error in a running config and try a ddev rm.

## Anything e

[2017-04-20 00:18] tannerjfco commented on #161
Were the containers still removed despite the failure? If so I'm thinking this behavior is a result of the extra cleanup logic that exists to remove containers if no compose file exists. https://github.com/drud/ddev/blob/master/pkg/plugins/platform/local.go#L448

[2017-04-20 00:23] rfay commented on #161
No, the containers weren't removed. After I fixed the error and re-ran the command they were removed.

[2017-04-20 18:19] rickmanelius commented on #118
In the future, I will begin moving my reviews into the github release issues. Right now I have it in a private google doc https://docs.google.com/document/d/15A5C3hijadtVVLVYykmI27NmWssAHYhqAIijTfCo9NE/edit#. The TL;DR is that we're ready for a release.

[2017-04-20 18:30] rickmanelius commented on #108
Moving this one milestone out. While it definitely needs to be addressed by the time we're at provider plugins, we still need some sort of short term functionality for end-users.

[2017-04-20 18:34] tannerjfco commented on #98
I have an initial install script for consideration. Did as gist for now, if we're good with approach I can start tracking a PR: https://gist.github.com/tannerjfco/f4a3c06c249753f8940f3da84108c2da

[2017-04-20 18:41] rickmanelius opened #164 "Adjust `ddev describe` output for exited projects."
## What happened (or feature request):

Feature Request

## What you expected to happen:

When running `ddev describe`, there is a status column that outputs "running" when the container is operational. However, there isn't a scenario where this status is anything but "running" because if a user runs `ddev stop` and then `ddev describe`, the result is `2017/04/20 12:38:34 Could not describe app: d

[2017-04-20 18:49] rickmanelius opened #165 "Modify import-files to detect if tarball includes a parent folder."
## What happened (or feature request):

Feature Request. Initial report here https://github.com/drud/ddev/pull/123#issuecomment-294198585.

## What you expected to happen:

Depending on whether a user creates a tarball using a trailing slash, a .tar or a .tar.gz file may unzip with or without an enclosing folder. For example, Pantheon allows users to create backups and download zip files for the c

[2017-04-20 18:55] rickmanelius commented on #118
Created/updated additional tickets as a result of the release review.

* [PR to update documentation.](https://github.com/drud/ddev/pull/163)
* Moved [the WordPress post-import URL rewrite request](https://github.com/drud/ddev/issues/108 ) to v0.3
* Created [a request to address enclosing folder file imports](https://github.com/drud/ddev/issues/165)
* Created [a request to provide consistent `ddev

[2017-04-20 18:57] rickmanelius commented on #118
@cyberswat Looks like it's good to go for final release. See checklist in the summary. Thanks!

[2017-04-20 19:44] rfay commented on #165
This will need a bit more for successful implementation, perhaps a specific set of tarball contents and actions to be taken.

For example:
* Pantheon format
* Drupal files if it includes the 'files' dir
* Drupal files if it comes from the repo up (starting in the docroot)

???

[2017-04-20 20:05] #118 closed

[2017-04-20 20:29] rickmanelius commented on #106
Not sure if this has already been completed as a result of all the referenced issues that are now merged and closed. @rfay when you get a chance, can you confirm if this ticket is still relevant?

[2017-04-20 20:32] rfay commented on #106
This just went in today, but until the nightly build has actually worked, this should stay open.

[2017-04-20 20:36] beeradb commented on #118
🍾

[2017-04-20 22:13] rickmanelius commented on #87
Ok. I have a fear that this can get complicated in a hurry. The challenge I have with the way we currently have this command setup is that there is no way to easily target a specific type of log within a specific service. For example, how would I target the nginx access log instead of the mysql error log?

So we could go a few routes. We could require `ddev logs SERVICE LOG-TYPE`, but that becomes

[2017-04-21 18:38] tannerjfco commented on #136
I think the best way to address this would be to check if the site name matches a site that is already running, exit with an error if one is found, and leave it to the user to resolve. I don't believe we should try to compensate by changing the name dynamically or anything like that, since changing the hostname can require more configuration (or db changes in wp's case), and we probably want to le

[2017-04-21 18:53] tannerjfco commented on #165
The only reasonable way i see to address this is to provide a way for a user to define a path that exists in their archive to extract from instead of the root of the archive. Archives could consist of anything and could be structured in a variety of ways. When it comes to provider plugins, it will be appropriate to deal with the set of known formats and extract accordingly, but I think when it com

[2017-04-21 18:59] beeradb commented on #165
It could be that we also check for expected paths for any known formats (drush archives, pantheon exports, etc.).

I haven't looked closely enough at those formats to know if there's a usable pattern present, though.

[2017-04-21 19:21] tannerjfco commented on #154
Adding aliases is trivial, I'm fine keeping ssh as one. Thinking a bit more on this though, perhaps we should remove the "ssh" command entirely and use "exec" for both purposes? I don't think it would be difficult to do.

[2017-04-21 19:27] beeradb commented on #154
I agree with moving rm -> rename, but not so much with ssh.

SSH is the common term for that functionality. No one says "Secure shell" or "shell" in every-day use. I'm fine with adding aliases if we feel it needs clarity, but "ssh" is the best term for that functionality and is more clear than the alternatives.

[2017-04-21 20:00] rfay commented on #136
I fully support that approach (https://github.com/drud/ddev/issues/136#issuecomment-296270109)

[2017-04-21 21:01] rfay commented on #131
I"m really frustrated by this one, so am going to try to write down what I've learned and where it leaves us. I don't know of a simple way to solve the problems here, which are mostly trivial on OSX Docker-for-mac and quite serious on Linux.  And note that this is not only a security problem on Linux, it's a usability problem, because our poor users have files being created by nginx that bleed thr

[2017-04-21 22:40] rickmanelius commented on #117
So it looks like there are two things at play here:

1. Avoiding sudo. Can we use we adopt a wildcard DNS entry so that this is a one and done thing.
2. Safe sudo. Can we make it very clear what is about to happen in case of a man in the middle.

I like (1) and we should get a ticket filed for that. It's a common request among the devs that I've worked. In terms of (2), I see this as an excellent

[2017-04-21 22:43] beeradb commented on #87
Personally,  I would not try to get into "LOG TYPE" for this. Service seems adequate to me. If users want something beyond our standard container logging, I think we should direct them to interact with the containers directly.

[2017-04-24 16:49] rfay opened #175 "Use wildcard FQDN for ddev sites instead of manipulating /etc/hosts (most of the time)"
## What happened (or feature request):

Feature request: Our current way of specifying a ddev hostname for a site involves manipulating /etc/hosts, which requires root permissions. However, we can do what kalabox does and switch to using an actual resolvable domainame which has a wildcard on it. We can retain the `ddev hostname` command for uses when people are offline and give them explicit instr

[2017-04-24 16:49] rfay commented on #117
Opened https://github.com/drud/ddev/issues/175 for @rickmanelius request 1

[2017-04-24 18:34] rfay commented on #106
This is completed and now just has to be maintained.

[2017-04-24 18:34] #106 closed

[2017-04-24 23:24] beeradb opened #180 "Use parallelization to reduce platform/binary test times"
## What happened (or feature request):
Currently, our tests are running at about 15 minutes, 11 of which are actual tests. We've seen a fairly dramatic increase over the last few weeks and we've added additional test sites. It would be nice to reduce overall test time by starting to take advantage of golang parallel test running.

## What you expected to happen:
Right now our code does support par

[2017-04-25 02:33] rickmanelius commented on #165
Thinking about this more, it might be a scoping error to put this on the 'local' plugin. Each provider will have a standardized archive format for files and the database. And for drush archives, we may want to consider that its own provider plugin. At that point, the only way to trip up on this is using the local plugin.

Perhaps a different way to solve/resolve would be simply a warning. "We noti

[2017-04-25 15:03] rickmanelius commented on #154
I like the idea of the longer (and clearer) name with the shorter alias for remove.

I agree with Randy and Brad. SSH is a common term and a command. It also denotes what is being done whereas shell implies the outcome and sh could be confused with running a shell script.

[2017-04-25 15:08] rickmanelius commented on #136
I think this makes sense. I can see where edge cases might arise, and it might not be the smoothest experience to not just auto-increment the sitename with -N where N is a positive integer. That said, if someone is attempting to pull up multiple copies of a repo to work locally, it helps promote a best practice is they are naming the site with a -LABEL, so this provides us the ability to promote t

[2017-04-25 15:09] rickmanelius commented on #136
Also noting the need for a test to ensure this functionality works in the future.

[2017-04-25 15:11] rickmanelius commented on #136
I see this in the "Needs Review" column of our active sprint, but I'm not sure I see an open PR. Moving back to the TODO column.

[2017-04-25 15:21] rickmanelius commented on #153
This is great. Feedback:

- Agreed on moving DB location. Users needing that can leverage `describe`.
- I'm torn on leaving "type" in. I agree with Tanner that it's likely obvious to the person building the site and something that can be pulled up in describe. On smaller screens (13" laptop), it might push things out a bit more. That said, I can see leaving it for now until we get more feedback fr

[2017-04-25 15:42] rfay commented on #136
This is near done in https://github.com/drud/ddev/pull/169 @rickmanelius

[2017-04-25 15:45] rickmanelius commented on #136
I really wish github had a "Pull Request" column on the right. I see how I'm missing them now. Sorry about that.

[2017-04-25 16:11] rfay commented on #139
This is complete

[2017-04-25 16:11] #139 closed

[2017-04-25 16:23] rickmanelius commented on #108
As we discussed in our conversation outside the issue queue, we will solve this temporarily by outputting the instructions for WP-CLI for WordPress type projects. We will then provision another ticket to address the post-hook functionality/

[2017-04-25 16:25] rickmanelius commented on #81
What we've discussed outside the issue queue is to hide this command for Linux and keep it for macOS.

[2017-04-25 16:33] rickmanelius commented on #87
We're dropping "LOG TYPE" for now and only focusing on error logs for each service. This ticket needs to get updated a little further, but it's essentially actionable.

[2017-04-25 16:45] rfay commented on #87
We are going to separate logs (normal on nginx) into the error and access logs, and `ddev logs` will just access the nginx error logs.

No change is required to ddev AFAICT, just a minor change to nginx config in the container.

We may consider giving instructions to advanced users on how to use `ddev ssh` and `ddev exec` to access other log types.

[2017-04-25 19:31] rickmanelius commented on #93
Considering this closed!

[2017-04-25 19:31] #93 closed

[2017-04-25 20:24] rickmanelius opened #183 "Create Strategy for Pre/Post Hook Functionality"
## What happened (or feature request):

Feature Request

## Acceptance Criteria:

* [x] Decision on jurisdiction and how/where to extend default `ddev` functionality.
* [x] Decision on storage locations for metadata and busienss logic.
* [x] Decision on metadata structure.
* [x] Decision on workflow for end-user creating and updating metadata.
* [x] Mocked out user journeys and example configurati

[2017-04-25 20:25] rfay commented on #40
Thanks for pursuing this. Please make sure that it works with tests as well. Probably tests should always stop and rm it?

[2017-04-25 20:25] rickmanelius commented on #183
@rfay @beeradb @tannerjfco Given the larger implications, I wanted to at least draw your attention to this ticket because it will likely a lot of input from one or more of you before this can get to an actionable state. Nothing to do at this moment, but something we'll likely discuss at tomorrow's planning meeting.

[2017-04-25 20:29] rickmanelius commented on #40
To be clear, you're suggesting stopping (not removing) the proxy container when all sites are paused (not necessarily removed)?

[2017-04-25 20:31] rfay commented on #40
I was actually thinking perhaps rm, since a test should start from clean.

[2017-04-25 20:32] tannerjfco commented on #40
Realistically either would work, but I was intending rm. Either way, the proxy config should be updated when a new site is added.

[2017-04-25 20:32] rickmanelius commented on #40
FWIW, I can't speak to what would be best from the architectural/code standpoint. I just wanted to make sure we had this testable and thus actionable for @tannerjfco!

[2017-04-25 20:43] #117 closed

[2017-04-25 21:17] tannerjfco commented on #121
docker-compose supports overriding/extending a docker-compose.yml with multiple other compose files: https://docs.docker.com/compose/extends/ I feel like this would be a great way to handle customization, as we could leave our `docker-compose.yml` in our control, and provide 2 possible options for handling customization:

- we could instruct that customization/extend goes to `docker-compose.overri

[2017-04-25 21:23] tannerjfco commented on #97
I don't believe this issue occurs at this point. I have been able to provide no input for the docroot prompt, and config succeeds, detecting my apptype. I'm going to close - @TopherGopher please feel free to re-open if you think this issue is not resolved.

[2017-04-25 21:26] rfay commented on #97
No, this issue still exists:

https://asciinema.org/a/1t8z7cvht7yozoeoe4ng9mz97

[2017-04-25 22:37] rickmanelius commented on #131
I was mid comment twice today and lost as a result of task switching. TL;DR, I think bullet 3 would get my vote because it would align with what is needed on containers in the cloud. Might require a spike to research the LOE.

[2017-04-25 22:42] rfay commented on #131
It's not *that* hard, and can  be pioneered outside the container.  The problem is getting it to actually solve the problem. And of course the other problem is that this isn't a problem until we get to linux.

[2017-04-26 12:19] rickmanelius commented on #153
PR is closed. Updating this to reflect that.

[2017-04-26 12:19] #153 closed

[2017-04-26 12:20] rickmanelius commented on #92
This is now somewhat of a duplicate of #81 with some additional details regarding where this information should be stored.

[2017-04-26 18:43] #161 closed

[2017-04-26 20:43] rickmanelius opened #187 "Test imports using archives from live WordPress and Drupal sites."
## What happened (or feature request):

Feature Request

## What you expected to happen:

Currently, we can prove that imports are functional using basic WordPress and Drupal 7/8 sites that are essentially a fresh install. However, when I imported a personal site, I caught and reported some edge cases that were not readily apparent when using the test archives.

As we move closer to v1.0, I think

[2017-04-27 21:05] tannerjfco commented on #121
While working to get a solr setup working with ddev projects, I explored using multiple compose files as mentioned above. I'm pretty convinced it's the right approach to provide simple extension/customization of the compose file for a ddev project. What I propose is that we support the ability for users to place many docker-compose files in the .ddev folder. This would allow us to provide a recipe

[2017-04-27 21:12] beeradb commented on #121
At a glance, this looks like a really solid direction. The biggest question that jumps out to me is this:

1. Does something like https://github.com/docker/libcompose (or another applicable package) support this? I think we've all agreed to move away from execing as much as possible. If we're going to rework compose calls, it may be a good time to introduce that change?

[2017-04-27 21:13] beeradb commented on #121
Just answered my own question, it looks like `ComposeFiles` is a slice of strings (filepaths), https://github.com/docker/libcompose#usage

[2017-04-27 21:14] rfay commented on #121
Additional steps:
* Change docker-compose.yml to a better-named file
* Expose to the user the compose files that are being used (on start maybe?)

I think this sounds like a a reasonable approach, although the additional complexity will result in plenty of support issues.

[2017-04-27 23:40] tannerjfco commented on #121
We seem to have consensus among devs on the general approach, but we should still have product owner weigh in. Flagging decision for @rickmanelius

[2017-04-27 23:56] tannerjfco opened #189 "Web container should mount the full project directory, not just docroot"
## What happened (or feature request):
Our initial solution to support sites containing site files to serve within a folder like docroot was to change the mount point on the container to the docroot folder. This works fine if all code and assets necessary for the site to run exist within docroot, but if the site relies on code or assets above the docroot, they are unavailable to the web container,

[2017-04-28 02:05] rickmanelius commented on #121
So there are a couple of things at play and to respond to. Overall, I like the direction and I'm in support of what is being discussed, but I want to push a bit to understand the details and implications. What follows is a response to @tannerjfco's summarized proposal here https://github.com/drud/ddev/issues/121#issuecomment-297839323.

* **Label Naming Convention:** This is one area that I'm not

[2017-04-28 02:11] rickmanelius commented on #87
The documentation edits look great. So as soon as the functionality is in (if either @rfay or @beeradb test/approve, I'm good), we can get this one closed out. Thanks!

[2017-04-28 16:33] tannerjfco commented on #121
- Labels: `com.docker.compose.service` is a label we could leverage without having to define, as it is provided by compose (this can be seen by running `docker inspect` on a compose-managed container). This would just mean one less label to be defined on any containers we want used for ddev.
- Order of Ops: I don't believe there's an either/or issue here. We can provide per-service compose files,

[2017-04-28 22:05] tannerjfco commented on #136
Fixed with #169

[2017-04-28 22:06] tannerjfco commented on #98
Resolved with #182

[2017-04-28 22:06] #98 closed

[2017-04-28 22:07] tannerjfco commented on #97
Fixed in #185

[2017-04-28 22:07] #97 closed

[2017-05-01 17:41] rickmanelius commented on #121
@tannerjfco At a glance, this looks good. I need to take a good 15-20 minutes to deep dive just to make sure I fully understand the last bullet point and the implications.

[2017-05-01 17:58] rickmanelius commented on #121
Hi @tannerjfco so a question to answer. You mentioned that we could still default to a single compose files and then provide a library of additional files (like .solr.yml). I like that approach. However, doesn't that imply the singular default compose file would do double duty instead of the docker-compose.foo.yml pattern you specified. It sounds like we need to default with two and then people ca

[2017-05-01 18:08] tannerjfco commented on #121
I don't think that's quite correct. With this approach we could still define an override file for users to optionally configure. So whether they are adding optional configs from the library, or specifying an override file, they shouldn't have to modify the main compose file. That said, there would be nothing to stop users from modifying the main compose file directly at this point, but there would

[2017-05-01 18:16] rickmanelius commented on #121
Let's connect this afternoon. I think we're speaking about two things, and I want to make sure I'm not missing anything.

[2017-05-02 02:34] rickmanelius commented on #121
@tannerjfco and I discussed on a phone call this afternoon. My biggest question was whether or not there was a strict 1:1 enforcement of a docker-compose.$service.yml for each $service. His position is to not strictly enforce this since docker can be set to scan a directory and collect 1 to N files arbitrarily. I tend to like a 1:1 parity because I'm OCD, but I can understand how an end-user could

[2017-05-03 16:58] beeradb commented on #87
I believe this can be closed?

[2017-05-03 17:00] rfay commented on #87
Completed in https://github.com/drud/docker.nginx-php-fpm/issues/40 and https://github.com/drud/ddev/issues/186

[2017-05-03 17:00] #87 closed

[2017-05-03 17:00] beeradb commented on #108
It looks like this can be closed as well? we have #183 in place which I believe covers the followup steps.

[2017-05-03 17:01] rfay commented on #108
Completed in https://github.com/drud/ddev/issues/184

[2017-05-03 17:11] rickmanelius commented on #121
This is more of an FYI, but given @beeradb and @rfay weighed in, just highlighting where we landed and what Tanner is working on. ^

[2017-05-03 17:29] rickmanelius commented on #40
@tannerjfco @beeradb This would also be something helpful to get unstuck and actionable. I have no preference on the architecture side of things.

[2017-05-03 17:30] beeradb commented on #40
I'm not sure anything needs to be done to make this actionable. Seems like a fairly straightforward task to me:

- If no sites are running, stop/remove the proxy :)

[2017-05-03 17:32] rickmanelius commented on #40
@beeradb Understood. Even though my role is not to make technical/architectural decisions, my bias is towards challenging assumptions so that things are not missed or skirted over quickly. So expect more nitpicky follow-ups :)

[2017-05-03 17:40] rickmanelius opened #195 "Performance Testing, Management, Comparison (immediate and long-term techniques)"
## What happened (or feature request):

Feature request.

## What you expected to happen:

While we have done performance audits with respect to which file mount solution balances speed w/other factors, we haven't to my knowledge done a thorough analysis of resource allocation, php/mysql/nginx configuration tuning, etc. For example, when spinning up a Drupal 8 site, the installation from the stand

[2017-05-03 17:42] rickmanelius opened #196 "Decisions and Plan for Linux & Windows Support"
## Overall Objective
The current team is primarily using macOS for development purposes and is not currently performing any manual testing on Linux and (more importantly) Windows. Given that we want/need to be able to support the big three (mac, Windows, and Linux), we need to ensure that they are all given a 1st class priority.

That said, we need to properly scope this so that we don’t become bu

[2017-05-03 17:52] rickmanelius commented on #9
@beeradb Given that .ddev/config.yml contains these, I'm assuming this can be marked duplicate/closed?

[2017-05-03 18:07] rickmanelius commented on #5
Hi @bdlangton. Sorry for the massively long response time. In addition to the previously mentioned option of appending a `ddev exec` after a `ddev start` to essentially wrap drush, there is another alternative that we are pursuing to balance ddev being agnostic while supporting CMS specific functionality. See this issue [Create Strategy for Pre/Post Hook Functionality](https://github.com/drud/ddev

[2017-05-03 18:08] rickmanelius commented on #7
@beeradb @tannerjfco I'm assuming there is nothing left in this issue that is still actionable.

[2017-05-03 18:08] beeradb commented on #9
Yes, this should be good at this point.

[2017-05-03 18:08] #9 closed

[2017-05-03 18:09] rickmanelius commented on #59
Related to #195

[2017-05-03 19:52] rickmanelius commented on #67
I don't know enough about this to make it actionable or where to prioritize. Tagging w/hibernate for now.

[2017-05-03 19:56] tannerjfco commented on #67
Plugin has been introduced as a label via the new "com.ddev.platform" label, which is used to determine apps in list now, as opposed to the container name. The only remaining aspect of this issue would be to remove platform from the container name, if we decided we wanted to.

[2017-05-03 20:23] beeradb commented on #92
I recommend punting this from `v0.4` unless we have other specific services we need to deal with. I With the work we've done in #81 and #194 I feel like we can afford to wait on this for the foreseeable future

[2017-05-03 20:32] #81 closed

[2017-05-03 20:40] rickmanelius commented on #70
@rfay I believe this is fixed. I just tested sending an email and I'm not seeing that error appear and I was able to confirm that mailhog is currently in charge of sending emails.

[2017-05-03 20:41] rickmanelius commented on #73
@tannerjfco Are these issues still a concern?

[2017-05-03 20:43] rickmanelius commented on #78
Adding a needs decision flag because I know there was a larger discussion on what this looks like in terms of how to target it.

[2017-05-03 20:49] rickmanelius commented on #180
@beeradb Any sense of what the LOE would be? That would help prioritize.

[2017-05-03 20:51] rickmanelius commented on #189
This will absolutely need to happen by the time we're handling provider plugins.

[2017-05-03 21:00] rfay commented on #70
I agree it's probably fixed, I'd rather know where, of course.

We still see this:
`[03-May-2017 20:56:33] WARNING: [pool www] child 20 said into stderr: "127.0.0.1:1025 nobody@ba6da0d38050"`

BUT, mailhog is working and it looks pretty OK.

[2017-05-03 21:00] #70 closed

[2017-05-04 02:54] rickmanelius commented on #108
I need to re-open this issue to address a few issues discovered while testing:

1. Technically, we've installed `wp-cli` in the webserver container and did not rename to the shortened `wp`. The preference is to fix this by renaming `wp-cli` to `wp` so the instruction is accurate.
2. Copying and pasting the command doesn't work out the box because you get the following warning:

[code]
I would sugg

[2017-05-04 03:40] rfay commented on #108
This is yet another reason to just not run containers as root. Kudos to wp-cli for complaining.

Good catches!

[2017-05-04 04:07] tannerjfco commented on #108
1. `wp` is a valid command to run in the web container, we have a wrapper script for wp-cli. If it didn't work for you, you might have outdated configuration, as this script was recently re-introduced from inadvertent removal.
2. The command you entered looks to be totally valid. Looks to be related to 1)
3. Impossible. I never make spelling errors. :P
4. I wanted to indicate that it's a value to

[2017-05-04 12:44] rickmanelius commented on #108
Hey @tannerjfco. Thanks for the quick turn around. Please let me know how to get the wrapper script working so that I can resolve items 1 and 2. Looks like 3 and 5 are quick wins. Regarding 4, I totally get what you were going for. How about this. Given this is a short term fix and ultimately we want to have this as a post import hook, let's leave 4 as is with the hope that this hinting is depreca

[2017-05-04 15:29] tannerjfco commented on #108
@rickmanelius what is the web container version for your project? You can either check by reviewing your config.yaml, or running `docker ps` when running should show the image being run for the web container. You should have the latest version `drud/nginx-php-fpm7-local:v0.3.5`

[2017-05-04 17:34] rickmanelius commented on #108
@tannerjfco You're correct that the test I was running against was using an old version of .ddev/config.yml. I keep forgetting that the best way to test this is to kill the repo completely so as to not have an older version of the configuration lingering. I ran `ddev config`, but it was still referring to v0.3.4. Retesting...

[2017-05-04 17:35] rfay commented on #108
Actually, you don't have to kill the whole repo - consider `ddev rm; rm -rf .ddev; ddev config; ddev start`

[2017-05-04 17:36] beeradb commented on #108
@rickmanelius for the future, just removing the site and then deleting `~/.ddev/config.yaml` before running config will get you to the latest container versions. At this point we don't update container versions when re-running config, since we have no promise of not breaking compatibility. This is probably a long-term strategy we need to decide on, though.

[2017-05-04 17:37] rickmanelius commented on #108
@beeradb @rfay Thanks for the alternatives. Regardless, I just need to update my testing strategy to consistently include one of these options, and I will note said option when I post my review. Thanks!

[2017-05-04 17:39] rfay commented on #108
It's actually not entirely your fault. We have a flaw here in how we use the config.yaml and its persistence in sites. It's going to bite us over and over in the way you just got bitten, and at some point we have to think about how it matters to the user. We've been working on that by making the container specs optional, and the name and other details optional, but we don't have a clear strategy.

[2017-05-04 17:54] rickmanelius commented on #108
Closing this issue now that the PR is merged and the two primary issues I was dealing with were more a result of the wrong container being used.

[2017-05-04 17:54] #108 closed

[2017-05-04 18:06] tannerjfco commented on #108
Follow up items resolved, closing.

[2017-05-04 18:15] rickmanelius commented on #119
# ddev v0.3 Review
## Executive Summary
Based on the following analysis, [ddev v0.3](https://github.com/drud/ddev/milestone/3) is ready for release.

## Milestone Overview
The intention of ddev v0.3 (see [Roadmap](https://github.com/drud/ddev/wiki/roadmap)) is to provide a common set of local development tools that are typical for WordPress and Drupal developers. Essentially, we want to continue t

[2017-05-04 18:16] rickmanelius commented on #119
@cyberswat assigned to you to carry this to the official release. Thanks, everyone!

[2017-05-04 18:18] rickmanelius commented on #119
@rfay @beeradb @cyberswat @tannerjfco Sidenote request. If you have any feedback on the level of information provided in the review, I'm happy to discuss in our retro.

[2017-05-04 18:36] rickmanelius opened #200 "v0.4 Release Checklist"
Remaining actions:

* [x] Review release (product owner)
* [x] Approve release (product owner and release manager)
* [x] Create binaries (any DRUD maintainer)
* [x] Draft release notes (release manager)
* [x] Draft additional announcements for blog, newsletter, etc (not applicable at the moment)
* [ ] Create release (release manager)

For additional background information, please see our [Product

[2017-05-04 19:00] rickmanelius commented on #196
This is now actionable, and potentially something we can/should separate into separate issues given that multiple people could work on this in parallel.

[2017-05-04 20:31] rickmanelius commented on #183
This is an extension of the work previously done by @beeradb here https://gist.github.com/beeradb/e67995bed62f8d9b823c2bc89caac6ea#pull-in-data-from-an-external-source.

IMHO, a proper solution will require addressing the following areas:

1. Jurisdiction: What portion of ddev OR the ddev plugins are responsible for the managing the metadata?
2. Storage: Where is the metadata and business logic st

[2017-05-04 20:34] rfay commented on #196
FWIW, I have used on Ubuntu 14.04 without any particular trouble (but without a lot of intensity), and all of our tests run on Ubuntu 14.04.  Lots of gotchas getting Windows going, but could be fun.

[2017-05-04 20:37] tannerjfco commented on #196
I also somewhat regularly develop and test ddev on Ubuntu 16.04, and haven't hit any notable issues in the usage I've had so far. That said, I have not done any actual web development with the tool on Linux.

[2017-05-04 20:38] beeradb commented on #196
Our best path towards windows support in the near term may be via https://msdn.microsoft.com/en-us/commandline/wsl/about

[2017-05-04 20:45] rickmanelius commented on #183
Updated summary. I now consider this actionable from the perspective of driving this to a completion point.

[2017-05-04 20:49] rickmanelius commented on #122
IMHO, issue #183 is a critical dependency for this. This issue then becomes a specific set of metadata and business logic to implement it.

[2017-05-04 20:53] rickmanelius commented on #122
I consider this in an actionable state.

[2017-05-04 21:00] rfay commented on #196
[Stackexchange recipe](https://serverfault.com/a/790806)

[2017-05-04 21:01] cyberswat commented on #119
https://github.com/drud/ddev/releases/tag/v0.3

[2017-05-04 21:01] #119 closed

[2017-05-04 22:33] tannerjfco opened #202 "Reorg docs out of README, launch docs site"
## What happened (or feature request):
Our current docs are almost entirely contained within the README (with exception to a couple linked pages). This will not scale as our documentation needs increase, and we would like to re-orient the README to provide more of a value proposition.

## What you expected to happen:
I see the following as necessary steps to provide more robust documentation for u

[2017-05-04 22:37] tannerjfco commented on #189
I think we should consider prioritizing this issue, as it can affect users today. If their site depends on assets above docroot, it is very likely their site will not function with ddev. In my experience its a common pattern, so I expect it's not a small number of cases either.

[2017-05-04 22:52] rfay commented on #189
And what about the case where public files and private files aren't even on the same partition/mount?

[2017-05-05 14:25] rfay opened #203 "TestValidateAsset() in appimport_test.go needs to use unique dirs, clean up"
## What happened (or feature request):

I noticed in a test run the error `2017/05/05 08:14:28 ERROR:mkdir testing/data: file exists` and found that in TestValidateAsset() we're creating directories right in the user homedir.

## What you expected to happen:

* Normally directories would be created via tmpdir, but this is a unique case and what it's testing is valid.
* However, directory names sho

[2017-05-05 20:15] rfay opened #205 "TestGetApps and TestGetAppsEmpty fail if there are sites configured not by the tests"
## What happened (or feature request):

I ran `make testpkg` but there was an existing unrelated site in ddev. It caused the tests to fail with

[code]

TestGetAppsEmpty has the same problem:
[code]

## What you expected to happen:

Tests should not be broken by non-test state, if possible

## How to reproduce it (as minimally and precisely as possible):

* Start a ddev site (or have it stopped)
*

[2017-05-07 01:16] rfay opened #208 "Consider storing ddev db on persistent (local) storage"
## What happened (or feature request):

Feature request: Store ddev db on persistent storage

So far I've destroyed a lot lot lot of sites. I've imported databases, and imported files Things work OK. But then I destroy them. And they aren't there when I want them.

My workflow in the past has always been to have many of my sites in dev form on my Mac workstation, always easily accessible. Even if

[2017-05-08 13:20] rfay commented on #196
I did a kick-the-tires on Fedora 25 Workstation, and had no real trouble beyond understanding how to set up docker/docker-compose properly there. These are really the same problems with any linux, just slightly different varieties of setup.

1. Install docker-ce correctly, https://docs.docker.com/engine/installation/linux/fedora
2. Enable/start sudo systemctl start docker && sudo systemctl enable

[2017-05-08 20:29] tannerjfco commented on #208
I think part of the motivation behind providing the "stop" command is to help alleviate this issue and allow shutting down the environment without data loss, but I do agree we should make it possible to retain the mysql data even if the containers are removed. This would likely be more in line with user expectations, and I would hate for people to lose data due to misunderstanding what rm currentl

[2017-05-08 21:30] rickmanelius commented on #208
A few thoughts:

* Approximately two years ago, Kevin was working on a solution with Docker that created almost a "black box" approach where the container was loading the files, code, AND db from the host machine. I don't think it was much of a performance issue as a stability issue, where the local files might get corrupted if the mount dropped midflight.
* The problem we're trying to solve is a

[2017-05-08 21:31] rickmanelius commented on #196
Another item to consider: file mounts (capabilities, complexity, and performance). See https://github.com/drud/ddev/issues/208.

[2017-05-08 23:07] rickmanelius commented on #122
In addition to extending existing commands, we should consider when a 3rd party integration may require new commands. I think I may take a crack at this tomorrow.

[2017-05-09 14:14] rfay commented on #196
What I've learned so far is mostly incorporated in https://github.com/drud/ddev/issues/209

There are at least 3 ways we can do docker on Windows:
1. [Docker For Windows](https://docs.docker.com/docker-for-windows/install/) - requires Windows Pro, doesn't work on Windows Home due to lack of HyperV. As a result, I haven't been able to test it.  Uses binary compiled for WIndows.
2. [Docker Toolbox](

[2017-05-09 14:20] rickmanelius commented on #208
Additional thoughts:
* If the idea is that a user could reconnect with a database that was already imported, we would need to work through the scenarios of how a user would re-attach. For example, during `ddev config`, would we scan the file mount to determine which databases are available and then run the additional functionality contained within the import-db command to re-establish a settings.p

[2017-05-09 14:38] rickmanelius commented on #122
Inventory Potential of End-user Goals

## Data

* Pull down database from production.
* Pull down database from one of several environments.
* Pull down files from production.
* Pull down database from one of several environments.
* Push files and/or database to one of several environments.

## Pre/Post Hooks

* Post import of files OR database, run an arbitrary set of commands specified in a yml

[2017-05-09 14:49] rickmanelius opened #211 "Documentation audit and clean up for v1.0."
Placeholder for now.

[2017-05-09 14:54] rickmanelius opened #212 "Update readme to include a link to the roadmap and a stronger introduction."
* [Roadmap](https://github.com/drud/ddev/wiki/roadmap).
* Intro should better describe the overall purpose and value of the tool. The current intro is factually correct, but doesn't really convey the value.

[2017-05-09 15:09] rickmanelius commented on #196
Initial Feedback to @rfay's review of Windows https://github.com/drud/ddev/issues/196#issuecomment-300178008.

* Option 1: Windows Pro does add a [$200 cost](https://www.microsoftstore.com/store/msusa/en_US/pdp/Windows-10-Pro/productID.319935900), which might price out people.
* Option 2: Docker Toolbox. My only concern is that this adds a layer of abstraction in the way. Essentially, one needs a

[2017-05-09 15:12] rickmanelius commented on #196
A reminder, the scope of this ticket is testing, getting an inventory of OS specific discrepancies, and getting to a decision on what we'll support and when in the roadmap. So far things look promising, and we can plan on support (with caveats) for some Linux variants and Windows 10.

[2017-05-09 16:22] beeradb commented on #196
Just a note, we are using [goodhosts](https://github.com/lextoumbourou/goodhosts) for host file management. It does claim to have windows support. Figuring that out is probably more a matter of figuring out privilege escalation (strongly assuming it's needed) on windows.

[2017-05-09 17:42] tannerjfco commented on #196
- It looks like Windows 10 Home users can upgrade to Pro for $100 vs $200. Whether or not their machine shipped with Pro depends on whether they bought a personal or business class machine, or otherwise chose to upgrade to Pro at time of purchase. Still noteworthy that Docker for Windows support could mean an additional expense to users. It would be helpful to understand how many users in our demo

[2017-05-09 19:02] rickmanelius commented on #180
Updating the tags because this was in flight. @beeradb can we get a reference to the open PR?

[2017-05-09 19:16] rickmanelius commented on #196
My vote for Windows would be short term option 3 (WSL) mid to long term option 1 (Docker for Windows). If the team feels strongly enough to invert them, then we will need to purchase licenses sooner rather than later. Also, can we run Circle CI tests against Pro?

I personally have little interest in option 2 because I think it will hit its end of life in the near future and it adds more overhead

[2017-05-09 19:19] rfay commented on #196
We dan't run circle tests against any windows project, sadly. There are probably other services that allow us to do windows.

I still hope to get to WSL today, but can't claim that it's do-able at this point.

[2017-05-09 19:20] rickmanelius commented on #196
So far the focus of this ticket has largely been on Windows, and that is fair given the concern that supporting Windows will be a much heavier lift than Linux. However, I would like to nail down what we officially support on the Linux side while providing the caveat that users with other distributions can certainly try. I also imagine that this selection might be influenced the the OS selection we

[2017-05-09 19:21] rickmanelius commented on #196
Thanks, @rfay! That nuance (not being able to test with Circle CI) might warrant a caveat "we support, but cannot run automated tests to capture regressions".

[2017-05-09 19:22] beeradb commented on #196
My vote is to commit to supporting Ubuntu/Debian/Fedora. I think we can commit to good-faith effort on all other distros as well.

[2017-05-09 22:28] tannerjfco commented on #67
As part of providing documentation for extending ddev in #214, one of the conventions I defined in the documentation is for users to follow the same naming convention for containers that we do. I think it would be much clearer to users to have a simpler convention consisting of only the site name and the service name.

[2017-05-10 11:53] rickmanelius commented on #196
@beeradb That list works for me re:Linux. We may need to specify version numbers (e.g. Ubuntu 16.04 LTS) or parameters (Ubuntu: 2 Most Current LTS Versions). Assuming the former, I would suggest we state:

* Ubuntu 16.04 LTS
* Debian Jessie
* Fedora 25

And then note, as you've mentioned, that old versions and other variants may work but require a little more hand-holding/tweaking.

[2017-05-10 19:35] beeradb commented on #99
After looking into this here's what I proposed:

### Periodic Update Checking
We already have the ~/.ddev folder with the router config. My thought process is just to add a .update file in that folder and key off the creation timestamp to trigger updates. We can add a `PersistantPreRun` to cobra commands that performs the check, and outputs a message to the user if an update exists. It's probably

[2017-05-10 19:55] rfay commented on #99
I'd personally rather see the update be external (notification internal). It seems lots of mac apps are done this way. It's slightly less convenient, but somewhat more secure, and leaves the user in charge. It's also simpler. I won't battle to the death though.

[2017-05-10 20:14] rickmanelius commented on #99
We have two issues at play:

1. Notification of an available update
2. Process of upgrading

In terms of item 1, if we don't actually perform the upgrade, I would suggest we also pick a reasonable window of time to re-remind them (once a week?) instead of reminding them every run.

In terms of item 2, we have a larger discussion to come back to regarding installation and updating ddev. See this th

[2017-05-10 20:15] rickmanelius commented on #99
@beeradb updated the flags. I do still think that even with the self-update that we have another component where we don't ask to update every run and instead have a check once per week.

[2017-05-11 15:18] rickmanelius commented on #122
@beeradb and I had a meeting yesterday to discuss. While the items in this issue and the related issue #183 (pre/post hooks) are tracking in the right direction in terms of a potential final state, it's a heavy lift and we are attempting a 2nd pass at this to get to a working MVP. To be clear, even a simple ability to import directly from a provider is already a major win, so getting that out ther

[2017-05-11 15:23] rickmanelius commented on #180
Similar to my comment in your PR, shall we summarize the issues surrounding this and close or tag hibernate and come back to it? @beeradb

[2017-05-11 15:28] rfay commented on #40
This is fixed in https://github.com/drud/ddev/pull/204 so closing. Reopen if it's missing something I don't know about.

[2017-05-11 15:28] #40 closed

[2017-05-11 15:34] rickmanelius commented on #122
Follow-up note. We'll need at least a short-term search/replace for WordPress. #108

[2017-05-11 18:37] rfay commented on #196
We have a lot of technical capability here. There are significant issue to be considered besides that:

1. **Support level required**. For example, if we support 3 versions of Linux, we probably have to document the Docker install on each separately. And we certainly need a way to replicate customer environments.
2. **Infrastructure (and infra maintenance) requirements**: For Windows, for example,

[2017-05-11 20:03] rickmanelius opened #216 "MVP Integration w/Pantheon"
## What happened (or feature request):

Feature Request

## What you expected to happen:

Extend `ddev` to allow:
* Connection to Pantheon through its terminus API to access files and database archives.
* Download and import database and/or file archives.
* Collection and storage of Pantheon specific configuration information.

Wishlist of related items (moved to or referenced in other tickets)

*

[2017-05-11 20:03] rickmanelius commented on #216
@beeradb Please scan, but I think this gets us an actionable ticket for a Pantheon MVP.

[2017-05-11 20:19] beeradb commented on #216
The contents of this look good, but I would probably cut a few things out of phase 1 to make it more bite-sized. Those things specifically are:

1. custom pantheon containers. For a basic site, I don’t see any reason off the top of my head that our current containers won’t work. I agree we need to match environments as much as possible in the long run, but it’s a lot of additional work for (imho)

[2017-05-11 20:26] rickmanelius commented on #216
Quick response base on a convo in Slack.

* Happy to make this more minimal by moving the custom Pantheon containers and the WP search/replace to separate issues (the latter already has an issue referenced in the issue summary and could potentially be completed before this gets started, making this moot).

If that's the case, I can extract the other points to a wishlist and reference them in exist

[2017-05-12 14:20] rickmanelius opened #219 "Override default webserver and database containers when specifying a 3rd party provider."
## What happened (or feature request):

* Feature request

## What you expected to happen:

When running `ddev config PROVIDER`, we need to help the end-user achieve infrastructure parity by replacing the stock container images used in the docker-compose.yml file with ones for that provider.

## How to reproduce it (as minimally and precisely as possible):

## Related source links or issues:

* [M

[2017-05-12 15:20] rickmanelius commented on #216
Updated the acceptance criteria. This is actionable IMHO.

[2017-05-12 15:22] rickmanelius commented on #200
Updated and will begin the review today alongside https://github.com/drud/ddev/pull/217.

[2017-05-12 15:59] rickmanelius commented on #196
Updated the issue summary to reflect the remaining items. Once we have the final Windows report (OS pain points, LOE to address, specifics on the methodology we will support), we can update the roadmap regarding when we will support Windows and to what extent.

[2017-05-12 16:40] rickmanelius commented on #200
Saving a snapshot of my audit thus far (the "rejection" of acceptance is just keeping this accurate until the tests come through as passes).

# ddev v0.4 Review

## Executive Summary

Based on the following analysis, [ddev v0.4](https://github.com/drud/ddev/milestone/4) is NOT YET ready for release.

## Milestone Overview

The intention of ddev v0.4 (see [Roadmap](https://github.com/drud/ddev/wiki

[2017-05-12 16:53] #99 closed

[2017-05-12 17:07] rickmanelius commented on #200
Updated Report

# ddev v0.4 Review

## Executive Summary

Based on the following analysis, [ddev v0.4](https://github.com/drud/ddev/milestone/4) is NOT YET ready for release.

## Milestone Overview

The intention of ddev v0.4 (see [Roadmap](https://github.com/drud/ddev/wiki/roadmap)) is to make it easy for end-users to get up running quickly. Also, the work to date has largely focused on macOS use

[2017-05-12 18:10] beeradb commented on #180
I took a  stab at this in https://github.com/drud/ddev/pull/206 and ended up backing off, due to a few constraints:

- We use environment variables when starting sites. When trying to start multiple sites at once, we end up with multiple goroutines overwriting environment variables and stepping on each others toes.
- This is (possibly) fixable by adding delays to the start, but this introduces com

[2017-05-12 19:03] rickmanelius commented on #196
While this ticket is technically still open to get the documentation regarding OS specific issues, the primary outcomes intended for v0.4 from the perspective of an end-user have been achieved. Updating the issue summary to note future items and outcomes from this thread will be moved to other issues.

[2017-05-12 19:06] rickmanelius commented on #200
# ddev v0.4 Review

## Executive Summary

Based on the following analysis, [ddev v0.4](https://github.com/drud/ddev/milestone/4) is ready for release!

## Milestone Overview

The intention of ddev v0.4 (see [Roadmap](https://github.com/drud/ddev/wiki/roadmap)) is to make it easy for end-users to get up running quickly. Also, the work to date has largely focused on macOS users and we need a strateg

[2017-05-12 19:07] rickmanelius commented on #200
@cyberswat v0.4 is ready for release!

[2017-05-12 19:09] rickmanelius opened #221 "v0.5 Release Checklist"
Remaining actions:

* [x] Review release (product owner)
* [x] Approve release (product owner and release manager)
* [x] Create binaries (any DRUD maintainer)
* [x] Draft release notes (release manager)
* [x] Draft additional announcements for blog, newsletter, etc (not applicable at the moment)
* [x] Create release (release manager)

For additional background information, please see our [Product

[2017-05-12 19:54] rickmanelius commented on #212
I know I'll need to get this to a PR, but given that I imagine this will lead to some discussion, I'm keeping this in the issue thread first and I'll move to a PR if there are no major objections to this approach.

I think the roadmap section could be expanded to beyond a simple link of "here's our roadmap" and provide more context as to why we have a roadmap, what it means, and who is in charge o

[2017-05-12 19:55] tannerjfco commented on #189
Changing the mount point back to the project root should be trivial, but we'll need a way to update the nginx configuration to reflect the docroot path. This is defined in the server block of the nginx config, which doesn't handle environment variables unfortunately. We could add [docker-gen](https://github.com/jwilder/docker-gen) to allow dynamic updating of the configuration similar to how the n

[2017-05-12 19:57] rickmanelius commented on #189
I'm assuming we're going to need the ability to tailor/tweak additional values, so that makes sense to pursue. I imagine we should split that out into a separate issue versus tracking both here even though that would be a dependency for this to proceed.

Also, a separate issue for the private directory question from @rfay would also be handy.

[2017-05-12 20:00] rickmanelius commented on #180
@beeradb naive question. Is it possible/practical to snapshot environment variables into a config file and then use that as the source of truth? I imagine it would require a non-trivial amount of rework, but I'm just shooting in the dark to see if there is a way to still utilize environment variables up until a point of triggering the start and then freezing from there.

[2017-05-12 20:00] rickmanelius commented on #180
Also, short of my question sparking an idea, I'm assuming this is ready to close out to return to at a later date.

[2017-05-12 20:02] rickmanelius commented on #180
Weird. Not sure why the PR isn't pulling up inline https://github.com/drud/ddev/pull/206.

[2017-05-12 20:06] tannerjfco commented on #165
It's possible for a site's upload directory to only contain a single folder. Key example is wordpress, which by default organizes its uploads directory by year/month directories, so a wordpress site in its first year of existence is likely to only have a single folder.

#218 introduces changes to our Untar functionality to allow us to specify a folder to extract from within the archive. We could e

[2017-05-12 20:08] beeradb commented on #189
Rather than introducing a moving piece like Dockergen, I'd probably prefer to symlink the docroot to /var/www/html on container start (unless I'm missing some reason that won't work). Dockergen is something we have to deal with in the nginx-proxy, but honestly the template are fairly unwieldy and I'm not eager to introduce it elsewhere.

[2017-05-12 20:23] tannerjfco commented on #189
IMO we have already done a workaround for updating the nginx configuration, and shouldn't pursue another one, since we can reasonably expect additional future configuration requirements such as handling private files. A symlink may work just fine, but may also cause unexpected behavior and/or confusion for users. I don't have specific examples, but vaguely recall seeing issues on a couple specific

[2017-05-12 20:28] rfay commented on #189
I kind of wonder if we need some kind of yaml that just describes mounts to be done and where they end up on nginx. More config and possibly complexity than I would prefer, but *something* like that is going to end up happening at some point. There's no reason to assume that one mount will do the job, or even 2.

[2017-05-12 20:32] beeradb commented on #180
@rickmanelius I'd prefer just to move it back to incubate. I still think the issue is valid and there may be a point where it's worth the effort, but we're just not there quite yet imho.

[2017-05-12 20:32] tannerjfco commented on #189
I think if we change the mount back to project root, it will address most people's needs. If users needed to provide an additional mount, they can now do so by providing a compose override file that defines an additional mount for the web container (or others as they see fit)

[2017-05-12 20:56] tannerjfco commented on #59
This relates to #189, and could potentially addressed with the same underlying solution.

[2017-05-12 21:09] rickmanelius commented on #195
@beeradb updated issue summary to reflect the larger intention of what was stated in the roadmap https://github.com/drud/ddev/wiki/roadmap. Thanks for alerting me to the fact that this was still a placeholder ticket!

[2017-05-12 21:17] tannerjfco commented on #154
I've opened #223 to rename the rm command. I have no objection leaving the ssh command as is.

[2017-05-12 22:36] tannerjfco commented on #202
Unless there's any objection, I think we should proceed with ReadTheDocs, since its free and should provide what we need without too much effort. We could explore alternatives to fully control and/or host the doc site, but I don't think its worth spending the effort at this time.

[2017-05-12 22:39] tannerjfco commented on #73
At this point, all of the identified commands have been refactored. This is done!

[2017-05-12 22:39] #73 closed

[2017-05-12 22:50] tannerjfco commented on #39
I think it should be reasonable to do this at the end of `ddev remove`, unless anyone has any objections. @rickmanelius any other aspects of this issue requiring decision / further incubation?

I haven't seen the mysql issue originally noted in sometime, but I do think we still need to prune unused volumes when sites are removed. It does not take much site spin up/tear down for several gigs to end

[2017-05-12 22:52] rfay commented on #39
As long as we filter with --filter and have a test that makes sure we're doing the right thing I'm good with pruning.

[2017-05-15 13:19] rickmanelius commented on #200
Looks like we're good to go!
https://github.com/drud/ddev/releases/tag/v0.4

[2017-05-15 13:19] #200 closed

[2017-05-15 15:00] rickmanelius commented on #202
A couple other acceptance criteria, then I agree that this is good to go!

* [ ] Selection of a domain/URL pattern.
* [ ] List of implications regarding managing readthedocs across multiple projects (public and private). Do we use one readthedocs to rule them all? Have a single landing page that links out to individual pages?
* [ ] Decision of whether or not we could/should use this for internal d

[2017-05-15 15:17] rickmanelius commented on #212
Related to #202

[2017-05-15 15:44] beeradb opened #227 "Write documentation for using ddev alongside kalabox"
## What happened (or feature request):
ddev currently cannot run alongside an existing kalabox installation. This is because both kalabox and ddev use a router which tried to bind to port 80, and from my memory, the kalabox router is particularly heavy handed and doesn't automatically shut down when exiting or removing all sites from a kalabox installation.

## What you expected to happen:
Let's d

[2017-05-16 01:04] rfay opened #228 "app.Down() behavior implements "remove""
## What happened (or feature request):

I note that `ddev rm` is implemented in terms of Down(). Those are not the same semantics, and it would be a good thing to merge them.

## What you expected to happen:

I expect something that destroys data to be named "Destroy()" or "Remove()" or something like that. Not "Down()" which would seem to imply a stop.

## How to reproduce it (as minimally and pr

[2017-05-16 14:24] beeradb commented on #228
This is implemented as down because it directly maps to `docker-compose down` https://docs.docker.com/compose/reference/down/

That doesn't mean we can't change it, of course, but I'm more hesitant than I normally might be since it's mirroring compose language.

I do agree down was a crappy name for them to pick, though :)

[2017-05-16 15:22] rfay commented on #228
Seems like a reasonable choice. Closing this for now. We may want to figure out a way to change this in the future.

[2017-05-16 15:22] #228 closed

[2017-05-16 15:40] tannerjfco commented on #202
- ddev.readthedocs.org
- docs would be per-project
- public projects only. readthedocs provides a pro offering but is currently in invite-only beta.

[2017-05-16 16:06] rickmanelius commented on #216
Need a package/test that precedes this. Specifically

* Auth tokens for Pantheon.
* Ability to download archives.

[2017-05-16 16:08] rickmanelius commented on #202
Additional item
* [ ] Create an outline/wishlist and rank these by priority. Determine what would be sufficient for the relaunch and what can be pulled into different tickets.

[2017-05-16 16:27] rickmanelius commented on #129
We agree as a team that we will not introduce more of these items moving forward and we will fix/address areas where we are refactoring.

[2017-05-16 16:27] #129 closed

[2017-05-16 16:34] rickmanelius commented on #131
@rfay Please provide a specific recommendation with an LOE, we can make this actionable!

[2017-05-16 16:46] rickmanelius commented on #195
Needs to be split into audit our current results, how do we track over time, how do we add to circle, and how do we compare to competitors.

[2017-05-16 17:33] rfay commented on #126
I edited the OP and updated the title.

[2017-05-16 17:48] rfay commented on #131
I believe that this involves
* Nginx container:
    - Changing the nginx port (internal to docker) to port 8080 (example, a good target)
    - Change the nginx config so it just runs as unprivileged nginx user instead of starting as root
* Mysql container:
    * Just change it not to run as root and see it goes
* Docker-compose setup: Change to run as current user, not root

There's some required

[2017-05-16 19:19] rickmanelius commented on #165
Nice to know that this functionality exists! And good point on the use case where a single directory would be typical for a new WordPress site. From my perspective, I think that while it is possible for an end-user to know the directory to include within the import-files command, that requires them to first unzip it in order to then inspect and then re-run on the zipped version.

What might be bet

[2017-05-16 19:20] rickmanelius commented on #165
To get this actionable, I need no pushback on the proposed solution of warning/educating the user about the implications and providing the ability to strip out the parent folder in a follow-up question. @tannerjfco thoughts?

[2017-05-16 19:23] rickmanelius commented on #131
I know this is a commonly referenced article and I'm still tracking down a slightly different one that I referenced in an offline conversation, but given that we're currently reviewing our practices around what users/groups should be leveraged from within the containers, it's worthwhile to surface this as a reference point https://www.drupal.org/node/244924.

[2017-05-16 19:31] rickmanelius commented on #202
* [ ] Decision on whether or not including each project roadmap would be appropriate within this strategy.

I would love it to so we don't have an independent wiki and we can PR against the docs alongside feature changes, but if it's going to be problematic to shoehorn this in, then keeping a wiki per project is going to continue for now because the alternative of creating a documentation repo wil

[2017-05-16 19:39] rickmanelius commented on #131
FWIW, I would think the Acceptance Criteria for tests would be:
* Confirm that mysql container is not running as root by default.
* Confirm that nginx container is not running as root by default.
* Confirm docker-compose is setup to run as the current user.
* Utilizing a very basic php file on the nginx container, attempt a write to a files directory and confirm user/group/permissions. The reason

[2017-05-16 19:41] rickmanelius commented on #147
Seems straightforward/low hanging fruit. Converted to actionable.

[2017-05-16 19:51] rickmanelius opened #229 "Confirm viability of authenticating with and downloading assets from Pantheon."
## What happened (or feature request):

* Precursor testing/prototyping for the [Pantheon MVP](https://github.com/drud/ddev/issues/216) issue.

## What you expected to happen:

* [x] Confirm authentication w/terminus (authenticate, store token, use token, update token).
* [x] Confirm downloading of file and database assets.

## Anything else do we need to know:

* We should probably create a basic

[2017-05-16 19:53] rickmanelius commented on #216
Removing from active sprint while we are focusing on the precursor issue https://github.com/drud/ddev/issues/229.

[2017-05-16 19:59] rickmanelius commented on #175
This was touched on today. @rfay Can you provide additional information what this would look like as well as what the fallback would be if an internet connection was not available?

[2017-05-16 20:07] rickmanelius opened #230 "Upgrade repos for Drupal 7, Drupal 8, and WordPress"
## What happened (or feature request):

* Task request

## What you expected to happen:

We currently run tests against Drupal 7, Drupal, and, and WordPress. All of our repos are currently out of date, including security updates. Given some of the significant changes that have occurred in Drupal 8, we should get onto the 8.3.x branch instead of the current 8.2.x branch.

[2017-05-16 20:22] rfay commented on #175
The way current versions of kalabox do this is they put a wildcard dns record for *.kbox.site, so that `anythingyouwant.kbox.site` will resolve to 127.0.0.1.  We could do *.ddev.site or any such.

When offline, a person would have to manually add a hosts file entry. On osx or linux, this could be done with `sudo ddev hostname me.ddev.site 127.0.0.1`. I would expect on windows we'd have to give ins

[2017-05-16 20:29] rickmanelius commented on #195
Adding more detail to get this to an actionable state.

## Audit the default mysql and nginx configurations.
## Audit the container resource allocations.

## Measurements

* [ ] For each of our test CMS installations (WordPress, Drupal 7, and Drupal 8), obtain the time required to run `ddev start` and get to the install page.
* [ ] For each of our test CMS installations (WordPress, Drupal 7, and D

[2017-05-16 20:30] rfay commented on #131
* More specifically, the containers should be run as the current logged in user
* The phpmyadmin container should be included as well.
* nginx-proxy should be included *if* it can be. That depends on whether docker-compose can translate ports.

[2017-05-16 21:01] rickmanelius commented on #175
Related issues:

* Features similar to vagrant share.
* Could this help us with local SSL.

[2017-05-17 12:56] rickmanelius commented on #230
As we discussed offline, there are larger implications in making it so that we don't have to maintain and/or update these 3 repositories. For example, we could clone off of the Drupal mirror https://github.com/drupal/drupal and simply run `ddev config` with the default options when running our tests.

Short term, I'm mostly interested in getting Drupal 8 upgraded to the 8.3.x branch before we run

[2017-05-17 13:07] rickmanelius commented on #121
Regarding the "Followups required" section, this need not be a long process. Basically, we're trying to set expectations on the LOE to add additional services and placeholders for where that conversation could take place for someone searching for it within our issue queues.

[2017-05-17 13:09] rickmanelius commented on #165
Might be handy for a sanity check from @rfay and/or @beeradb as a sanity check on the solution proposed in https://github.com/drud/ddev/issues/165#issuecomment-301887623.

[2017-05-17 13:13] rickmanelius commented on #131
@rfay could we generalize the tests to state that all containers run as the current logged in user? Does this require anything to occur during the `ddev start` process to create those users or does docker handle that?

Regarding phpmyadmin, I think I'm more interested in including if we ended up mounting the database from the local machine, but I see no harm in getting this included. I have no ins

[2017-05-17 13:15] rfay commented on #165
It would actually require a full pass through the tarball to detect the "single dir" (or extract it and then look at the result).  Although this is a very important idea, I think trying to babysit the user on the contents of their tarball will be a never-ending task.  What if it *doesn't* contain a single folder, but *does* contain the full docroot, for example?

[2017-05-17 13:16] rickmanelius commented on #195
Given the size/complexity of this, any thoughts on the inventory provided? @rfay @tannerjfco @beeradb? I'm happy to start splitting this into child issues and leave this more as a meta issue with an updated summary that links to all the child issues.

[2017-05-17 13:25] rfay commented on #175
AFAIK it's impossible to get a real SSL cert that points to a non-internet IP address, so it probably wouldn't do that.

I don't think it's related to the ideas in "vagrant share"

[2017-05-17 13:29] rfay commented on #195
I think it's ready to split out - the only problem is determining how much effort we want to spend on it. We may not be ready for 2 weeks of developing benchmarks for competitors, for example. Might be possible to just create all the issues and then incubate based on priorities. For example, adding ddev up/down timing and a couple of curls to test access time, and storing the results, is low-hangi

[2017-05-17 13:33] rfay commented on #131
docker-compose will handle the launching of the container with the right user; then the innards need to be able to live with that.

The most important place(s) to work on this is where files are created on the host/workstation local filesystem, which currently is only done by the nginx-php-fpm container AFAIK. However, it's definitely considered a best practice just not to do it. In our case it on

[2017-05-17 14:11] rickmanelius commented on #175
@rfay In my experience, the process of generating a CSR to obtain an SSL does not require providing the IP address or having the domain A record pointed at a server/IP address.

[2017-05-17 14:13] rickmanelius commented on #175
Now on the flip side, getting a real, non-self signed cert to work without connection to the internet, that's a separate item that I'm not sure would work/not work. So breaking this into two components: 1) getting an issued SSL cert and 2) getting said cert to work locally against 127.0.0.1 without connection to the internet.

[2017-05-17 14:16] rickmanelius commented on #195
@rfay Thanks for the feedback! Agreed that not everything in that list would have an equal priority and I think we should focus on the low hanging fruit first. We could use milestones and/or labels (actionable versus hibernate) to delineate what is important now versus a wishlist item. The automated tests against competitors seems like a heavy lift.

Noted on the word selection. I'll rename to som

[2017-05-17 14:19] rfay commented on #175
I might be having a brain fart. Easy to test. You're certainly right that the IP is a part of getting a cert. Either I'm just off in lala land or *browsers* no longer accept.

[2017-05-17 14:19] rickmanelius commented on #131
Perfect. Thanks for that. So in reality, the scope of this could be limited purely to the nginx-php-fpm container to ensure that we plug this security item. The rest of the items are a bonus and we should do them for consistency and as a best practice.

If we're both happy with the combined acceptance criteria from yesterday (with the db and proxy containers being a nice to have if a low LOE), the

[2017-05-17 17:06] rfay commented on #175
On SSL: Sorry, I was just backwards confused. I was thinking about issuing a cert for an unregistrable domain (like .local or whatever). I was able to put junkssl.drud.com on my local machine at 127.0.0.1, and use our drud.com wildcard to access it, both firefox and chrome were fine with it.

The one issue here is that we'd have to distribute a key/crt for the wildcard cert, which would mean that

[2017-05-17 17:14] rfay opened #232 "Add SSL by default using self-cert, support both 80 and 443 without redirect"
## What happened (or feature request):

Mostly browsers complain a lot about http sites now, especially Chrome, which now marks *every* http site as "insecure". I think people understand this and it's not a big issue, but there's no real reason we can't ship our containers with an ssl cert and config that uses it.

## What you expected to happen:

SSL support is becoming standard, even though ther

[2017-05-17 19:58] beeradb commented on #202
Since part of this push is to improve and expand documentation, I just thought I'd drop what appears to be an excellent guide here: http://www.writethedocs.org/guide/

[2017-05-17 22:41] rfay commented on #196
WIndows Comments:

Windows caveats:
* *Version*: I recommend that we support Windows 10 Professional using the *Windows* build of ddev. There are multiple other approaches and permutations, and some of them actually work, but I believe this is the mainline approach. Windows 10 Pro is a $99 upgrade to Windows Home, and should be pretty common out there.
* Docker for Windows only (not docker toolbox

[2017-05-18 15:05] rfay commented on #230
drupal8 upgrade is pending in https://github.com/drud/ddev/pull/236 and https://github.com/drud/drupal8/pull/4

I would really like us to lose this approach, but for @rickmanelius and the purpose of immediate perf testing, here it is.

[2017-05-18 15:07] rickmanelius commented on #230
@rfay understood re:above. When this issue is closed out, let's get a different issue filed for a better long term solution.

[2017-05-18 15:11] rfay opened #237 "Use upstream source tarballs for testing (drupal8/wordpress/etc) instead of maintaining our projects"
## What happened (or feature request):

We are maintaining our own "forks" for drupal8/commerce-kickstart/drupal7 for testing reasons and maybe for user reasons. But it seems to be more work than it's worth.

## What you expected to happen:

Simple direct use of the original downloads (like Drupal8.tar.gz from drupal.org) would be simpler (I think).

Suggested approach (for consideration):
* Chang

[2017-05-18 15:11] rfay commented on #230
If you have no objection, can we change the scope of this to just drupal8? I'm not sure what pushes us on anything else.

I spun off the idea of using direct downloads instead of our own forks in https://github.com/drud/ddev/issues/237

[2017-05-18 15:31] rickmanelius commented on #196
Hi @rfay. Thanks for this. I've updated the issue summary to indicate the summarization of the pain points and the assumption that this is a relative high LOE (assumed > 1 week to address these items). Seems we need to break out tickets related to the following:

* Documentation:
  * Specifying the supported Windows approach (Windows 10 Pro).
  * Specifying specific installation instructions.
* Bu

[2017-05-18 19:03] rfay commented on #230
Drupal 8.3.2 upgrade is done in https://github.com/drud/ddev/pull/236, which has been merged. Does that complete this?

[2017-05-18 20:50] tannerjfco opened #238 "Create a basic performance test script for ddev"
## What happened (or feature request):
Per #195, we would like a consistent and repeatable way to test performance of several key operations on our supported CMS.

## What you expected to happen:
I propose that a script be added to the ddev project that can be run at an ad-hoc basis from desktop systems. I am thinking this could be a bash script that downloads d7, d8, and wp, and for each of them

[2017-05-18 21:02] tannerjfco opened #239 "Review nginx and mysql configurations to ensure optimal performance"
## What happened (or feature request):
Per #195 We should review our nginx and mysql configurations to ensure configurations that relate to or impact performance are configured in the most optimal way possible.

## What you expected to happen:
When we upgraded the web containers to PHP7, time was spent to focus on providing configurations for opcache, memory limits, etc to ensure we provided optim

[2017-05-18 21:21] rickmanelius commented on #121
For the ability to test, given that we merged https://github.com/drud/ddev/issues/198, I assume I need to pull in https://github.com/drud/ddev/issues/210 to test the documentation here https://github.com/tannerjfco/ddev/blob/15796599076d3a8b6add41a1e17a41956e46ff5c/docs/customization_extendibility.md. Is that correct, @tannerjfco?

[2017-05-18 22:34] rickmanelius opened #240 "Split v0.6 Milestone Into More Manageable Pieces"
As our recent retro, we identified that the current v0.6 milestone is large and doing multiple things. Splitting into a few releases will help improve focus and prioritization. Recommended breakdown is as follows:

* v0.6: performance
* v0.7: security
* v0.8: bug fixes

This will be completed in this sprint.

[2017-05-18 22:37] tannerjfco commented on #121
@rickmanelius yes, you will want to use the build artifact from the latest test run on #210 to test the documented functionality.

[2017-05-19 00:11] rickmanelius commented on #239
Thanks for moving on this! A couple ideas:

* Is it worth documenting any refence material that justifies any recommendations? That would help in the review process as well as ongoing performance audits in the future. Example: there are many Apache tuning articles on how to change number of threads based on RAM pool and php.ini limits.
* Not sure if it's worth expanding this to address docker cont

[2017-05-19 00:37] rfay commented on #239
The fairly standard nginx config for Drupal is [Perusio's](https://github.com/perusio/drupal-with-nginx) - I think it's been holding as "normative" for many years now. Not sure if it's worth fiddling with using it, especially since we span more than one distro.

[2017-05-19 13:33] rickmanelius commented on #240
Roadmap page updated (https://github.com/drud/ddev/wiki/Roadmap) with new milestones v0.7 and v0.8. Next steps: associate issues in v0.6 with the new milestones and split out placeholders for any missing items.

[2017-05-19 13:43] rickmanelius commented on #195
Given the size of this issue, it's recommended that this issue be converted to a meta issue with sub-issues filed to make this more trackable/manageable. If we pursue that, child issues should be included in the issue summary as a checklist w/links to the children.

An additional item to add:

* [ ] documentation regarding our current performance and what drove our decisions to our default configu

[2017-05-19 13:45] rickmanelius opened #241 "Security Audit & Recommendations"
Placeholder at the moment in order to address the goals of milestone v0.7. The intention of this ticket is to provide a timeboxed window for us for a top to bottom audit of what is provided by ddev v0.6 to determine if there are any obvious security areas to address.

[2017-05-19 13:46] rickmanelius opened #242 "Documentation Audit"
## What happened (or feature request):

* Feature Request

## What you expected to happen:

A lot has changed between ddev v0.1 and v1.0. It would be incredibly helpful to review our CLI helper text and read the docs end to end to ensure that:

1. The information is self-consistent.
2. There are no major gaps or items missing.
3. We are linking to relevant blog articles and/or youtube videos that

[2017-05-19 13:51] rickmanelius commented on #240
Issues were created as placeholders to address any inconsistencies with the updates to the ddev roadmap that were created this morning. Here are all resources:

* [ddev Roadmap](https://github.com/drud/ddev/wiki/Roadmap)
* [v0.6](https://github.com/drud/ddev/milestone/6) (Performance)
* [v0.7](https://github.com/drud/ddev/milestone/11) (Security)
* [v0.8](https://github.com/drud/ddev/milestone/10)

[2017-05-19 14:51] rickmanelius commented on #121
@tannerjfco I was attempting to find a specific PR to put my testing feedback, but because it spans the documentation and the actual Solr demo, I felt it made more sense to put into the parent issue. TL;DR, I *almost* got to a successful completion, but the default Solr container is having an issue on startup, so I can't connect Drupal and Solr at the moment. Looks like we might need to provide in

[2017-05-19 15:00] rickmanelius commented on #121
FWIW, I'm attempting to pull in http://cgit.drupalcode.org/search_api_solr/tree/solr-conf/5.x/solrconfig.xml from the search_api_solr module. Unfortunately, the Solr container doesn't have vi/emacs/nano. Apt-get install is blocked because I don't have root/sudo. So current blocked on trying to resolve this config manually.

[2017-05-19 15:02] rickmanelius commented on #121
Apologies for not watching the youtube video closely enough. @tannerjfco did provide a mechanism for getting the Solr conf file in place. Re-reviewing with that extra step.

[2017-05-19 15:24] rickmanelius commented on #121
## Testing

### Works

* As a developer, I want the ability to use custom containers [drud/ddev issue #121](https://github.com/drud/ddev/issues/121)
  * [Documentation here](https://github.com/tannerjfco/ddev/blob/15796599076d3a8b6add41a1e17a41956e46ff5c/docs/customization_extendibility.md).
  * [Binary here](https://github.com/drud/ddev/pull/210)
    * Pulled macOS binary and placed in /usr/local

[2017-05-19 16:38] rickmanelius commented on #212
PR merged in. Closing out.

[2017-05-19 16:38] #212 closed

[2017-05-19 22:46] tannerjfco commented on #202
This is done! https://ddev.readthedocs.io is now live.

[2017-05-19 22:46] #202 closed

[2017-05-19 23:01] rickmanelius commented on #240
I'll accept silence as approval :) Closing!

[2017-05-19 23:01] #240 closed

[2017-05-19 23:05] rickmanelius opened #244 "Additional Windows End-user Documentation"
This is a follow-up to #196, specifically with respect to the following:

"We probably need separate basic documentation for Windows. Otherwise it will be stilted and hard to test. I wouldn't be surprised if it can link to some of the same things, but really we should be talking about ddev.exe and using windows paths, etc."

End-users need to know about:

* How to set up their machine - basic inst

[2017-05-19 23:07] rickmanelius opened #245 "Windows-native testing for ddev"
This is a follow-up to #196, discussing things we need to do to fully support Windows.

In order to support automated tests for WIndows, we need Windows-native testing to succeed. Currently we drive the tests with a Makefile that isn't intended to be compatible with windows-native environment. However, it really just needs to have the `go test` part separated out for usage by Windows.

## Related

[2017-05-19 23:09] rickmanelius opened #246 "[Meta] Handle or resolve Windows Compatibility Issues like hosts file/privilege escalation"
This is a follow-up to https://github.com/drud/ddev/issues/196#issuecomment-302441130, specifically with respect to the following:

* Currently we check for the existence of the sudo command, and if it is found, use it to escalate privileges to add an entry to the /etc/hosts file. This is not a valid technique on Windows native, as sudo is not available and privilege escalation is done in other wa

[2017-05-19 23:09] rickmanelius commented on #196
Placeholder children issues created. Closing out! Thanks, everyone on this HUGE issue!!!

[2017-05-19 23:09] #196 closed

[2017-05-22 15:12] cyberswat opened #247 "Consider moving contributing documentation to the community repository."
## What happened (or feature request):

As we continue to grow and gain traction with our repositories it would be nice to have a centralized set of documentation that helps new and seasoned contributors understand the best way of engaging with us.

One way of growing this type of communication across all of our projects is to centralize this type of communication into our community documentation.

[2017-05-22 17:22] rfay opened #249 "Add documentation to the docker-compose.yml template"
## What happened (or feature request):

It's really hard to know what all the magic in the docker-compose.yml is. There are special-purpose environment variables, and various magical incantations.

## What you expected to happen:

As a user I expect to be able to read the file and make small adjustments with confidence, without a degree in docker-composology.

Suggested approach:

* Template can a

[2017-05-22 17:55] rfay opened #250 "Consider stopping use of environment variables to communicate with containers"
## What happened (or feature request):

We use both straight structured yaml in our docker-compose.yml *and* also free-form environment variables (in the `environment:` section of each container). It's (probably) hard to understand for the end user that may want to edit. For example, we have VIRTUAL_PORT and TCP_PORT as environment variables and the a yaml "-ports" section.

## What you expected t

[2017-05-22 17:56] beeradb commented on #250
Can you expand on specifically what is meant by "Environment specification still there for custom configuration of custom containers."?

[2017-05-22 18:04] rfay commented on #250
I'm suggesting that end users could use environment variables to deliver info/config to their custom containers, providing them a simple hack for configuration, but we would not populate any config via env in our standard config.

[2017-05-22 18:05] beeradb commented on #250
So, the heart of this seems to be whether or not to support user customization of our standard (i.e. web/DB) config?

[2017-05-22 18:16] rickmanelius commented on #230
@rfay question, it looks like the changelog is still showing 8.3.1. https://github.com/drud/drupal8/blob/master/docroot/core/CHANGELOG.txt#L1.

I can live with ignoring Drupal 7 and WordPress.

[2017-05-22 18:27] rfay commented on #250
No, I don't agree with that @beeradb  - I was thinking we would support user customization of everything. But the standard things that we know about in advance (for our containers) would be done with yaml. Environment variables would just be an escape hatch for user customization of special containers.

[2017-05-22 18:37] beeradb commented on #250
I see. No opposition to that proposal in theory. I think what would help color this conversation is if we could identify the specific environment variables that we feel are useful as an "Escape hatch" vs the ones which we feel should be removed. From there, our next steps could be:

1. Template the env vars we feel we can remove
2. Document the ones we keep, so users have some understanding of exp

[2017-05-22 18:39] rfay commented on #230
They failed to update the CHANGELOG.txt for 8.3.2 :) Pretty funny, http://cgit.drupalcode.org/drupal/tree/core/CHANGELOG.txt?h=8.3.2 - if you want to get a commit credit here's an easy patch!

[2017-05-22 18:42] beeradb commented on #250
I took the liberty of updating the title, I hope the proposed next steps work for you. Feel free to change back if they don't.

[2017-05-22 18:43] rfay commented on #250
I was saying that users could create any environment variable they wanted and use them in the environment section, and that we would use none for our purposes. So we would then not use:
[code]

[2017-05-22 18:45] rfay commented on #250
New title isn't accurate given what I *think* I'm after ;) Because I'm saying get rid of all of them (but support that mechanism for users)

[2017-05-22 19:10] rickmanelius commented on #247
Overall, I'm in support of this because a significant portion (I would guess 80+ percent) of the ddev contributing page could be generalized and applied across the board. A notable exception would be the specific references to Go where other languages may appear in other repos.

There is also the question of tone/branding. I'm all for adding a bit of personality into the documents instead of them

[2017-05-22 19:15] tannerjfco commented on #247
It is useful for each project to retain its own copy of CONTRIBUTING so that GitHub provides the message to users to review guidelines before submitting an issue.

[2017-05-22 19:20] rickmanelius commented on #247
@tannerjfco Good point. Would it be appropriate/workable to put a shorter version in the repo and then link to the larger community one? My only concern on copies if that, depending on the number of repos that link to this guide, it could be tedious to submit multiple PRs each time it's updated.

[2017-05-22 19:58] rickmanelius opened #251 "github ddev README.md Improvements"
## What happened (or feature request):

* Feature Request

## What you expected to happen:

While our readme.md is accurate, we should spend some time making sure that an end-users first interaction with it is compelling. Suggestions included linking to any tutorials, articles, videos, etc.

This was described in our last planning meeting 2017-05-16.

[2017-05-22 20:09] rickmanelius commented on #230
Ha! I'll consider this closed :)

[2017-05-22 20:09] #230 closed

[2017-05-22 20:33] rfay opened #252 "Windows building/testing/development documentation"
## What happened (or feature request):

Currently building and testing on WIndows is a bit of a black art, and requires some varied workarounds. This should stabilize over time and be more predictable, but it's important to get to that goal.

## What you expected to happen:

Any developer should be able to set up a build/test/docker environment on Windows with a little bit of provided documentatio

[2017-05-22 20:36] tannerjfco opened #253 "Implement user-guided caching for web mount"
## What happened (or feature request):
Recent Docker releases (17.04 CE Edge onwards) bring significant performance improvements to bind-mounted directories on macOS. Docker users on the stable channel will see the improvements in the forthcoming 17.06 release. The new "cached" mode for bind mounts specifically provides improvements for large numbers of read operations.

## What you expected to ha

[2017-05-22 20:40] rfay commented on #252
Starter lists:

* WIndows 10 Pro
* Docker for Windows
* Install [Creators update](https://www.microsoft.com/en-us/software-download/windows10)
* Ubuntu config [(bash info)](https://blogs.msdn.microsoft.com/commandline/2017/04/11/windows-10-creators-update-whats-new-in-bashwsl-windows-console/)
* Link /mnt/c to /c/ - helps docker translate filepaths `sudo ln -s /mnt/c /c`
* In Ubuntu: Add docker li

[2017-05-22 21:22] rfay opened #254 "Automated testing for Windows ddev"
## What happened (or feature request):

* From https://github.com/drud/ddev/issues/196#issuecomment-302441130 We need *automated* testing under Windows.  The only integration listing in [github's integration listing](https://github.com/integrations/feature/continuous-integration) that mentions windows is [Appveyor](https://www.appveyor.com). It is [free](https://www.appveyor.com/pricing/) for open

[2017-05-22 21:41] rfay commented on #250
I edited the OP and title just a bit, hoping to narrow this more. It's only about the `environment:` section and not about preprocessing of the docker-compose.yml. Sorry for all the misdirection today.

[2017-05-23 13:43] rfay opened #256 "Repeatable CMS page access performance benchmark tools dev environments"
## What happened (or feature request):

There are probably three key areas of performance interest for users of ddev:

* How long does it take me to set up in the beginning
* How long does it take to start and set up a site (including importing)
* How does accessing the site feel? Can I get my job done without waiting for pages to load?

This ticket is about the third: Measuring the time it takes

[2017-05-23 13:54] rfay commented on #238
I think you make a good point that linux metrics on the random containers we see on CircleCI are questionable for the reasons you state. However, it would be worth *considering* a technique that would notify us if there were a major change in performance characteristics due to our code. There are certainly major differences in behavior among the various platforms, and Mac and Windows are more vali

[2017-05-23 14:03] rfay opened #257 "Performance: Repeat manual tests of ddev and related dev competitors"
## What happened (or feature request):

@tannerjfco did a quick survey of performance for a number of dev tools including Kalabox some time ago. One of the first thing we need to do in evaluating ddev's performance is to repeat that manual evaluation and get both some numbers *and* a basic subjective feel about where we are.

Although we've proposed long-term tracking of our performance against ot

[2017-05-23 16:16] rickmanelius commented on #257
@tannerjfco Can you link your previous audit here?

[2017-05-23 16:34] rickmanelius commented on #110
@rfay is this still valid/actionable?

[2017-05-23 16:36] rfay commented on #96
Closing this - it's a Drupal issue with sites/default, not a problem with permissions for the site files. Every user would have this exact same problem with any drupal install in any environment, including production. It's solved by `chmod u+w sites/default`

[2017-05-23 16:36] #96 closed

[2017-05-23 16:40] rfay opened #258 "Initial ddev windows performance review"
## What happened (or feature request):

We haven't yet taken a look at Windows ddev performance and need to check to see if it's adequate. This assumes Docker for Windows.

* Experiment with Drupal 7 site
* Experiment with Drupal 8 site and normal dev usage.

## What you expected to happen:

## How to reproduce it (as minimally and precisely as possible):

## Anything else do we need to know:

##

[2017-05-23 16:43] rfay commented on #110
I think we solved this long ago.

[2017-05-23 16:44] rfay commented on #110
However, we'll certainly look closely in the security change and make sure it's not doing it, so it's valid to leave it open for review. Bottom line is we don't want to change owner or group (ever) on host-mounted files.

[2017-05-23 16:44] rickmanelius commented on #110
Alrighty. We'll leave it in v0.7 to confirm. Thanks!

[2017-05-23 18:21] rfay opened #259 "Windows: ddev start tells you to add your host to hosts file even if already there"
## What happened (or feature request):

On WIndows (native) when you do a `ddev start` it asks you to add the hostname to the hosts file even if it's already there. This shouldn't be too hard to solve, but it shouldn't do that.

## What you expected to happen:

If the hosts entry already exists, ddev should not prompt you to add it.

## How to reproduce it (as minimally and precisely as possible):

[2017-05-23 18:30] rfay opened #260 "Windows db import: Creation of settings.php fails"
## What happened (or feature request):

settings.php creation fails on Windows native.

[code]

## What you expected to happen:

I expect the import to successfully create the settings.php if it doesn't already exist.

## How to reproduce it (as minimally and precisely as possible):

## Anything else do we need to know:

## Related source links or issues:

[2017-05-23 19:01] rfay opened #261 "Windows: Consider whether it's important to write/handle config.yml and docker-compose.yml in crlf native windows textfile format"
## What happened (or feature request):

On Windows we're creating text files in Unix format (with just LF at end of lines). Windows text files have CRLF at end of line. Lots of things handle this fine but it definitely shows that we're not windows-native and may be a problem to some developers who use editors like notepad that aren't up to the task.

Here's what our config.yml looks like in notepa

[2017-05-23 19:03] beeradb commented on #261
Adding to this: we also use `\n` quite often in CLI code. I assume it's probably handled OK by bash windows, but is there anywhere else that might be problematic?

[2017-05-23 19:08] rfay opened #262 "Improve nginx-proxy to give a friendlier message when it can't find anything to proxy"
## What happened (or feature request):

nginx-proxy's job is to proxy a back-end container. However, it's just nginx, and when it can't do its job it makes an ugly complaint,

![image](https://cloud.githubusercontent.com/assets/112444/26371667/a965633e-3fb8-11e7-9f53-bf710e5c0765.png)

## What you expected to happen:

Instead, it would be great if we gave a message "This is your friendly neighborh

[2017-05-23 19:11] rfay commented on #261
If I'm not mistaken, \n is actually a *newline* in the local environment, at least it has been since the days of 'C', so I think this is working OK in golang as well.

[2017-05-23 19:41] rfay opened #263 "Windows: docroot mount doesn't work with explicit docroot"
## What happened (or feature request):

I tried to start a ddev site with our standard testing drupal8 repo (https://github.com/drud/drupal8) and did a `ddev config`. But then `ddev start` failed with

[code]

Line 26 is the docroot mount. It appears that the mount format .\docroot/ doesnt work right - it's escaping the 'd' as \d - mostly it doesn't seem like docker-compose should do that, but her

[2017-05-23 21:29] rickmanelius commented on #253
Getting this to an actionable state. I suggest the following acceptance criteria (beyond the handy data that @tannerjfco already recorded in the issue summary):

* [ ] Compare site-install time for D8 site w/standard profile using competitor (Kalabox) and native LAMP/MAMP stack.
* [ ] Compare site-install time for D8 site w/distribution profile using competitor (Kalabox) and native LAMP/MAMP stack

[2017-05-23 21:32] rickmanelius commented on #253
It should be worth noting that the competitor comparison was intended to be performed here https://github.com/drud/ddev/issues/257.

[2017-05-23 21:39] rickmanelius commented on #195
During sprint planning, we discussed making this ticket a bit more focused, especially since it is believed that the biggest performance gains will be achieved once we've evaluated the file mount issues. To that end, there are three main items:

* [Decision on webmount caching](https://github.com/drud/ddev/issues/253)
* [Repeat ddev performance comparison w/competitors](https://github.com/drud/dde

[2017-05-23 21:43] rickmanelius commented on #257
In addition to the subjective feel and objective results, I'd put a final request:

* Provide recommendations (if any) to improve performance based on what was learned from this follow-up set of tests.

With that said. I feel this is actionable, but feel free to re-tag it as incubate if the size/scope is still debatable. FWIW, I think Kalabox and native *AMP stack are the most valuable tests to co

[2017-05-23 22:22] rickmanelius commented on #253
Looks like I'm up and running w/17.05.0-ce and will continue testing this tonight/tomorrow. Thanks for the instructions!

[2017-05-24 03:46] rfay commented on #253
:cached does in fact break current stable version of docker for windows, and works with edge.

[2017-05-24 12:37] rfay commented on #253
Not necessarily relevant information, but a `drush si` is easy to run on lots of platforms and does lots of stuff and is easy to time. I did `drush si` inside the container on several environments and at the end tried out :cached, which made a significant difference for OSX and even more for Windows.

|Context|Time for drush si - run inside container|
|---------|---------------------|
|ddev on win

[2017-05-24 12:40] rfay commented on #258
I took a look at D7 and D8 sites with trivial contents. In general it looks like Windows performance is significantly better than OSX and that it will be adequate.

|Context|Time for drush si - run inside container|
|---------|---------------------|
|ddev on windows drupal8 install drush si |2:11|
|ddev on windows with :cache|0:30|
|ddev on linux virtualbox running over OSX|0:54|
|ddev on OSX |3:5

[2017-05-24 12:41] rfay commented on #258
Closing this ticket as an initial runthrough is done. We'll want to do more and more substantially as we get fancier tools together.

[2017-05-24 12:41] #258 closed

[2017-05-24 13:45] rickmanelius commented on #253
Initial drupal 8 site install results on macOS 10.12.5 with two variables:

1. cache vs no cache
2. UI vs CLI

## Results

|Caching|Method|Time|
|------|-------|--------|
|no cache|UI| 3:20|
|no cache|CLI|1:10|
|cache|UI|1:30|
|cache|CLI|0:40|

Testing details: drush.settings.php used to hold the credentials and I ran a `ddev rm && ddev start` before each test to fully remove the previous db.

Com

[2017-05-24 13:52] rfay commented on #253
If I'm not mistaken, all of the files in all of the modules which are enabled by installation have to be read in order to write those mysql records, so that would explain the cost of the install. Install *may* be a bogus benchmark, but you certainly feel it when you try it!

One thing to add to your report: With your `drush si` did you do it within the container or from the host? @tannerjfco had r

[2017-05-24 14:18] rickmanelius commented on #253
It should be noted that my previous results were obtained while on a very fast wifi connection (200+ down/up). When I got on the bus and started to tether, my CLI w/caching time went up to 2 minutes! I'm curious how/why that would affect anything unless the install is reaching out to check something  in the outside world.

[2017-05-24 15:01] rickmanelius commented on #253
Seems like there might be some network and/or system resource considerations.

* Bus: CLI w/cache and tether 2:20
* Offline: CLI w/cache 2:00
* Offline w/ddev rm: CLI w/cache 2:00
* Slow wifi w/ddev rm: CLI w/cache 2:10

System Restart
* Slow wifi w/ddev rm: CLI w/cache 0:44
* Again Slow wifi w/ddev rm: CLI w/cache 0:45

[2017-05-24 15:29] rfay commented on #253
IMO we should go with :cached. The outstanding concerns are:
* How do we make it work with various versions of docker? Can we change the template to account for that?
* How does this affect real developer activities? For example, if a dev changes a line of code in a module on the host (using an editor), what happens? What's the delay before the change shows up in the code in the container and affe

[2017-05-24 18:25] rfay commented on #261
References for work on this:
https://github.com/andybalholm/crlf
https://godoc.org/golang.org/x/text/transform
https://groups.google.com/forum/#!topic/golang-nuts/VwpNO73V1CE

[2017-05-24 19:35] rickmanelius commented on #164
PR merged. Closing.

[2017-05-24 19:35] #164 closed

[2017-05-24 19:36] rickmanelius commented on #121
PRs merged. Closing.

[2017-05-24 19:36] #121 closed

[2017-05-24 19:52] rickmanelius commented on #221
https://github.com/drud/ddev/issues/221
Saving a snapshot of the review template thus far.

# ddev v0.5 Review

## Executive Summary

* Review is currently in progress.

## Milestone Overview (Config and Container Customizations)

The intention of thie v0.5 milestone ([see roadmap](https://github.com/drud/ddev/wiki/roadmap)) is to lay the foundation work necessary for end-users to achieve parity w

[2017-05-24 20:46] tannerjfco commented on #257
Unfortunately, the tests I ran in December weren't done or documented in a way that sufficiently facilitated re-running the tests with accuracy. I made a best effort to reproduce them, and added new metrics for ddev 0.4, as well as ddev tested w/ user-guided caching (see #253 for more info). I do not know that this is an accurate recreation of the test conditions from December however.

Moving for

[2017-05-24 21:00] rickmanelius commented on #221
### Works

* ddev Describe [drud/ddev issue #164](https://github.com/drud/ddev/issues/164)
  * ddev binary recreated with `make clean && make darwin`
  * Confirmed version and commit running `ddev version` v0.4-16-g2ca92ae5
  * Cloned fresh WP repo.
  * Ran `ddev config` using basic settings.
  * Ran `ddev describe` and saw the message: "2017/05/24 14:51:14 Could not describe app: no site found. h

[2017-05-24 21:01] tannerjfco commented on #253
I agree that :cached seems worthy of pursuit. Re: concerns:

1. User-guided caching is slated for the 17.06 Stable release. Docker releases follow YY.MM versioning, which means 17.06 should be released sometime in June. Given that timing, I think we should wait for the stable release to drop to introduce `:cached` in our compose template. At that point, I think it's reasonable to update the System

[2017-05-24 21:25] tannerjfco commented on #247
We could certainly do that, but I don't know how likely users are to follow another documentation link before contributing. I'm not certain how frequently we would have cause to change our contributing guidelines, especially a case that would require all projects to be updated. Either way, I do think its valid to have a copy of contributing guidelines in the community project.

[2017-05-24 21:40] rickmanelius commented on #221
# ddev v0.5 Review

## Executive Summary

Based on the following analysis, [ddev v0.5](https://github.com/drud/ddev/milestone/5) is ready for release.

## Milestone Overview (Config and Container Customizations)

The intention of thie v0.5 milestone ([see roadmap](https://github.com/drud/ddev/wiki/roadmap)) is to lay the foundation work necessary for end-users to achieve parity with external infra

[2017-05-24 21:40] rickmanelius commented on #221
@cyberswat Ready for release at your earliest convenience!

[2017-05-24 21:58] rfay commented on #110
The offending chgrp is definitely not in there any more. Closing.

[2017-05-24 21:58] #110 closed

[2017-05-24 22:04] tannerjfco commented on #239
I originally created this ticket as part of an initial effort to break out the tasks in #195. However, when we discussed the tasks in sprint planning, @beeradb suggested that this task wasn't worth pursuing at this time. Since we know our biggest performance issues relate to bind mount performance on Mac, it seems questionable that we would make any notable gains in terms of nginx or mysql configu

[2017-05-24 22:18] tannerjfco opened #265 "Determine how to handle additional service compose files"
## What happened (or feature request):
The results of #121 introduced the ability for ddev to handle multiple docker compose files in the .ddev directory of a site. This allows users to define additional services in compose files formatted as `docker-compose.<service>.yml`. While the abilities are in place with the v0.5 release and documented, we still have some considerations open for how we woul

[2017-05-24 22:43] tannerjfco opened #267 "Create a service configuration for redis"
## What happened (or feature request):
Feature Request
In #121 we determined redis was one of several popular services that can be a requirement for more complex applications. In order for ddev to facilitate local environments for these more complex applications, we should provide an optional service configuration for redis.

## What you expected to happen:
A docker-compose configuration should be

[2017-05-24 22:45] tannerjfco opened #268 "Create a service configuration for varnish"
## What happened (or feature request):
Feature Request
In #121 we determined varnish was one of several popular services that can be a requirement for more complex applications. In order for ddev to facilitate local environments for these more complex applications, we should provide an optional service configuration for varnish.

## What you expected to happen:
A docker-compose configuration shoul

[2017-05-24 22:49] tannerjfco opened #269 "Create a service configuration for memcache"
## What happened (or feature request):
Feature Request
In #121 we determined memcache was one of several popular services that can be a requirement for more complex applications. In order for ddev to facilitate local environments for these more complex applications, we should provide an optional service configuration for memcache.

## What you expected to happen:
A docker-compose configuration sho

[2017-05-24 22:51] beeradb commented on #268
Varnish is an interesting one. My initial reaction is that it would be ideal for varnish to take over port 80, and the web container would listen on an alternative port.

That being said, it might not be the end of the world if varnish was exposed on a non-default port. It sure would be nice to ensure these additional services get surfaced via `ddev describe` output, though. I wonder if we could e

[2017-05-25 13:42] rfay opened #272 "Consider using docker networking for separate IP addresses instead of nginx-router"
## What happened (or feature request):

I happened to note in [drupal-vm writeup by geerling guy](https://www.jeffgeerling.com/blog/2017/drupal-vm-does-docker) that he's using separate IP addresses for containers, instead of the nginx-router approach we're using. That might be pretty nice, and is worth keeping in mind. The nginx-router requires extra maintenance and complexity.

## What you expect

[2017-05-25 17:12] rfay commented on #247
As Tanner points out, we definitely have to have a CONTRIBUTING for github's purposes. If we need more than a short CONTRIBUTING document, I think it's OK to link to further documents.

However... Nobody reads anything, ever. So if we need a document that is bigger or more complex, we're making a mistake thinking anybody will actually read it. So I guess I'd be in favor of maintaining a small, nor

[2017-05-25 21:47] tannerjfco commented on #165
I agree with @rfay, there's no way we could truly safeguard this command against how people might create an archive. In addition, I think its pretty unlikely a user is going to create an archive of their files just to satisfy format requirements we impose. We allow for directories to be specified for import, so there's no real benefit to satisfying our archive requirement.

I still feel like provi

[2017-05-25 22:54] tannerjfco commented on #15
Since the time this issue was originally created, I believe we've managed to rework all of ddev's commands, improving help text and validation as we go. Is there anything further actionable here? We could take another pass through the commands and try to break them if we wanted, but I'm not sure how much that would actually turn up.

[2017-05-25 23:01] tannerjfco commented on #227
We added a section to the docs to generally cover current port requirements, noting other environments need to be turned off. https://ddev.readthedocs.io/en/latest/?badge=latest#using-ddev-with-other-development-environments

We could add more specific directions for specific tools, but there are a *ton* of tools out there, especially when you consider across Windows, Mac, and Linux. Should we pro

[2017-05-26 14:11] rfay commented on #232
Non-self-signed certs are going to require us to:
* Move to using a real domain name, something like *.ddev.io, instead of using .local
* Get a wildcard cert for the domain.
* Expose the private key associated with the cert to everybody we know, because it's configured with the nginx container. I haven't figured out if there is risk associated with this. It does mean that anybody anywhere could pu

[2017-05-26 15:03] #131 closed

[2017-05-26 15:22] rickmanelius commented on #253
I'm in agreement that we should proceed and we just need to do, as Tanner mentioned, a bit more testing to see if there are any gotchas. However, we could also ship now and wait until we get real world feedback, which is going to be far more diverse than a mock series of tests that we step through.

[2017-05-26 15:24] rickmanelius commented on #253
To actually implement this, proposed changes would be:

* [ ] Append the ":cached" value in the docker-compose.yml by default.
* [ ] Adjust our documentation (Readme.md in the main repo and readthedocs) with a link to the edge version of Docker for Mac/Windows.

Anything else?

[2017-05-26 15:26] rfay commented on #257
@tannerjfco for the "ddev HEAD + docker 17.05" stanza - did you manually add :cached to the mounts on the .ddev/docker-compose.yml?

[2017-05-26 15:36] cyberswat commented on #221
@rickmanelius the piece of information missing from this is the hash that master is at when you sign off on this testing.  That gives us a target to ensure we are releasing what has been tested.

[2017-05-26 15:54] tannerjfco commented on #257
I built a binary with the :cached option added to the docker compose template, so that the option was present on the test sites. Manually adding the option would work as well.

[2017-05-26 16:07] rickmanelius commented on #257
@tannerjfco One question. Were any tests run through the UI? In https://github.com/drud/ddev/issues/253#issuecomment-303728071, I see a significant change in performance on a site install through the UI versus CLI. In an offline conversation, you had noted that the difference might be attributable to one of the following: post-install hooks, file mount choice, and/or running traffice through the p

[2017-05-26 16:10] rickmanelius commented on #154
@tannerjfco I assume there is nothing left for this one? Please close if it's complete!

[2017-05-26 17:00] rfay commented on #253
I did casual developer-focused testing of module changes on the host, then hitting the site to see if the changes showed up. I had no trouble at all, my changes displayed immediately. Of course it was a manual process:

* Drupal8 install (our drupal8)
* Edit node_help() in core/modules/node/node.module on the host to change direct output. I just used vim to make minor changes.
* Refresh http://dru

[2017-05-26 17:59] beeradb opened #277 "MySQL connections are broken from the host"
## What happened (or feature request):
I was doing some testing today and discovered the MySQL connections from the host aren't working as we intended.

It turns out we made an incorrect assumption when doing the TCP stream proxying on the router, and failed to realize that TCP streams don't support traffic splitting via the host parameter. In hindsight, this is pretty obvious, since TCP streams l

[2017-05-26 18:14] rickmanelius commented on #277
It would make sense to tag as v0.8 milestone and prioritize in the next sprint given that this is a bug. Not removing incubate yet because there probably needs to be some additional detail/thought in solving the IP issues before we can proceed.

[2017-05-26 18:23] rickmanelius commented on #221
Done! https://github.com/drud/ddev/releases/tag/v0.5

[2017-05-26 18:23] #221 closed

[2017-05-26 18:26] #260 closed

[2017-05-26 19:06] cyberswat opened #278 "Consider ddev releases as part of the build process."
## What happened (or feature request):
I have a script that I use to package releases for ddev at https://gist.github.com/cyberswat/4423128d8bd82368610be6dc10a8fa12.

It downloads artifacts from circle ci and packages them for inclusion on the github release page.  For example, https://circleci.com/gh/drud/ddev/900 is the build that was run to create the binaries for the v0.5 release.  If the gist

[2017-05-26 19:20] #263 closed

[2017-05-26 19:28] tannerjfco commented on #154
rm has been renamed, ssh was not, and i'm fine with that. closing.

[2017-05-26 19:28] #154 closed

[2017-05-26 22:06] rickmanelius commented on #253
Thanks, @rfay! That's encouraging.

I think even the casually testing by you and @tannerjfco indicates that there are no obvious gotchas. I think pushing to see if we get end-user feedback noting any issues will be more efficient/effective than testing a larger set of scenarios. I'd like to push to get the :cached value in place so we can close this out and get it merged.

[2017-05-27 02:17] rickmanelius commented on #15
I vote close and file tickets as we rework functions and discover gaps.

[2017-05-27 21:37] rickmanelius commented on #249
I think this would be valuable, particularly for those wanting to extend. Probably something worth prioritizing after provider plugins.

[2017-05-30 13:17] rickmanelius commented on #257
My only request would be to compare the install time through the Drupal install.php interface to see if Kalabox suffers from the same discrepancy and then use that to make a recommendation. This might be fixed with https://github.com/drud/ddev/issues/277.

[2017-05-30 13:19] rickmanelius opened #281 "v0.6 Release Checklist"
Remaining actions:

* [x] Review release (product owner)
* [x] Approve release (product owner and release manager)
* [ ] Create binaries (any DRUD maintainer)
* [ ] Draft release notes (release manager)
* [ ] Draft additional announcements for blog, newsletter, etc (not applicable at the moment)
* [ ] Create release (release manager)

For additional background information, please see our [Product

[2017-05-30 13:22] rickmanelius opened #282 "Utilize OSXFS"
Great find by @rfay. This warrants getting into the roadmap https://docs.docker.com/docker-for-mac/osxfs/. This issue needs more work before it's actionable.

## What happened (or feature request):

## What you expected to happen:

## How to reproduce it (as minimally and precisely as possible):

## Anything else do we need to know:

## Related source links or issues:

[2017-05-30 13:30] rickmanelius commented on #232
Looks like we can't register a "drud.local" domain because "local". is reserved https://tools.ietf.org/html/rfc6762. However, I'm all for having a *.drud.TLD and distributing the wild card. I'm imagining there are attack vectors that are annoying, but owning the domain does allow us to revoke. And in terms of distributing, we could probably push with each new binary and run a check every so often

[2017-05-30 13:39] rfay commented on #278
I don't know of any reason to object to this. Do you want to go ahead and do a PR to add it to ddev?

I'm totally in favor of the circle build generating the sha hashes as well.

[2017-05-30 13:47] rickmanelius commented on #241
Given that this is more of a "meta" issue with an implied chunk of research, I suggest this as acceptace criteria:

* [ ] Review and decison on OSXFS https://github.com/drud/ddev/issues/282
* [ ] Drupal "Private" directory outside of webroot (may require https://github.com/drud/ddev/issues/189).
* [ ] Identification of any remaining hot button security items related to file mounts, OS user/groups,

[2017-05-30 14:11] rickmanelius commented on #277
We can convert this to actionable if we include one final AC:
* [ ] Strategy + Implementation for sharing docker compose files with fixed IP addresses (e.g. detect and alert end-user, detect and suggest, detect and correct on the fly, etc).

[2017-05-30 14:15] rfay commented on #277
However, this "bug" is just an indicator for a redesign task, so needs to be at a higher level. It needs to indicate the redesign, which affects all connections, not just mysql. I'd recommend we spend a bit of time experimenting with it. In the drupal-vm approach, it also required a specific ifconfig alias creation on macos which may not be available on Linux or may not be doable at all on Windows

[2017-05-30 14:16] rickmanelius commented on #241
Related https://github.com/drud/ddev/issues/175

[2017-05-30 14:16] rfay commented on #277
Note that it is probably possible for us to circumvent the OP at this time by just not exposing the mysql port directly, perhaps encouraging people to use `ddev exec drush sql-cli` for example.

[2017-05-30 14:18] rickmanelius commented on #15
We will surface at planning meeting and close then.

[2017-05-30 14:19] rickmanelius commented on #60
Related https://github.com/drud/ddev/issues/59

[2017-05-30 14:21] rickmanelius commented on #227
Maybe we make a very quick reference and call it a day. Example: "Any docker based tool (e.g. Kalabox, Docker VM, etc.)"

[2017-05-30 14:30] rickmanelius commented on #165
Ok. Provider plugins will utilize a known structure, making this a moot point for all but someone manually importing. And someone willing to go through those steps will likely have the skill to debug themselves. I would still prefer to warn them, but the warning itself might be as a result of a false positive based on the situation. Marking as closed.

[2017-05-30 14:30] #165 closed

[2017-05-30 15:39] cyberswat commented on #278
Not sure why this was hibernated and pushed out so far.  It's useful for each release we do.

[2017-05-30 15:57] rickmanelius commented on #278
No particular reason. Just need to triage and get prioritized.

[2017-05-30 16:05] rickmanelius commented on #282
This is already in place. Apologies!

[2017-05-30 16:05] #282 closed

[2017-05-30 20:46] rickmanelius commented on #253
Lost my comment. 2nd attempt. Consolidated actions:

* [ ] Confirm Docker is 17.05.0-ce or later. Prompt user to update and exit if this is not met.
* [ ] Append the ":cached" value in the docker-compose.yml by default.
* [ ] Specify our required version of docker in Readme.md. If an edge version is required, link the user to where they can find installers for these specific versions.

[2017-05-30 20:49] rickmanelius commented on #15
While this didn't come up, I'm going to assume any issues with validation will get caught and filed separately, but I agree with @tannerjfco that this appears to have been addressed along the way.

[2017-05-30 20:49] #15 closed

[2017-05-30 20:55] rickmanelius commented on #278
Made it actionable so we can use and close out the v0.6 sprint :)

[2017-05-30 20:56] rickmanelius commented on #278
@cyberswat I suggest adding a reference to the community docs similar to my release checklist (or even within the release checklist) to easily find in the future. https://github.com/drud/community/blob/master/development/product_release.md

[2017-05-30 21:10] rickmanelius commented on #238
@rfay left a comment in the PR, but I wanted to pull it back into the main issue. There is a further desire to create scripts to help automate testing, particularly as it pertains to authenticated users https://github.com/drud/ddev/pull/264#issuecomment-304929161.

[2017-05-30 21:14] rickmanelius opened #283 "Evaluate and (Potentially) Optimize the Drupal 8 GUI Site Install Time on macOS"
## What happened (or feature request):

Feature Request

## What you expected to happen:

TL;DR, I would like to determine of the 2:1 ratio of install times between the Drupal 8 GUI install.php page and the `drush site install` is a theoretical limit OR if there are other factors at play. Potential parameters to investigate: native versus docker, file mount solution, host OS, php.ini discrepencies

[2017-05-30 21:15] rickmanelius commented on #195
Given that all the related/child issues are provisioned elsewhere, closing this issue for now. Also, provisioned an issue to track down performance issues related to the Drupal 8 site install time through the UI on macOS https://github.com/drud/ddev/issues/283.

[2017-05-30 21:15] #195 closed

[2017-05-30 21:38] beeradb commented on #229
This has been delivered at https://github.com/drud/elysium and is ready for review at this point.

I'm still working to flesh out documentation and will update here once I'm happy with those efforts.

[2017-05-30 21:40] tannerjfco commented on #272
Based on the testing and documentation/issue/forum digging I've done on this subject, I do not believe an IP-based approach is feasible for Docker for Mac. Due to how networking is implemented with HyperKit on Docker for Mac, it is not possible to route traffic to the containers. It is currently listed in known limitations as "not possible" to achieve per-container IP addressing. https://docs.dock

[2017-05-30 21:50] rfay commented on #283
Some results from one-shot case studies which could be flawed in various ways. These are all drupal8 installs (from our 8.3.2 repository). Most are using Macbook Air 2013 hardware.

Environment                                                          | drupal8 install time
----------------------------------------------  | --------------------
ddev, OSX, with nginx-proxy   | 7:45
ddev, OSX, without

[2017-05-31 00:01] tannerjfco commented on #277
As noted in https://github.com/drud/ddev/issues/272#issuecomment-305016714, per-container IPs don't look to be a feasible approach for Docker for Mac. This unfortunately means we can't pursue the approach originally intended to resolve the OP. Given this, I am reverting the issue title to its original, and intend the following tasks to ensure users can reasonably interact with mysql and discover t

[2017-05-31 16:00] rfay opened #284 "Remove drud-go usage from ddev"
## What happened (or feature request):

drud-go is becoming private, and will be decommissioned per https://github.com/drud/general/issues/110 - We should stop using it.

So... Remove usages of drud-go from ddev, and copy them into appropriate places in ddev where needed. But consider using other tools that have a better lineage.

[2017-05-31 16:05] beeradb commented on #284
I did a quick test and it looks like we are fine for removal except for the following packages:

- github.com/drud/drud-go/utils/try
- github.com/drud/drud-go/utils/system
- github.com/drud/drud-go/utils/stringutil

[2017-05-31 16:12] rfay commented on #284
Note that system.DownloadFile() has a very naive failure that dogs us all the time and it should *not* be copied - would be better to fix https://github.com/drud/ddev/issues/157

[2017-05-31 16:15] beeradb commented on #284
We should probably just take on #157 before this, then?

[2017-05-31 16:25] beeradb commented on #284
<dl>
<dt>github.com/drud/drud-go/utils/stringutil</dt>
<dd>Only used for util.RandomString(). I'd say we should just copy it in.</dd>
<dt>github.com/drud/drud-go/utils/try</dt>
<dd>Only used in dockerutils.GetPodPort(). We could either bring it over, or just vendor https://github.com/matryer/try/blob/master/try.go which looks to b the original source. I'd probably just vendor it</dd>
</dl>

It see

[2017-05-31 18:47] rickmanelius commented on #272
Moving to "hibernate" for now unless there are any counterpoints to @tannerjfco's comment regarding the viability. FWIW, additional discussion and a path forward are in this comment in the related issue https://github.com/drud/ddev/issues/277#issuecomment-305042775.

[2017-05-31 18:52] tannerjfco commented on #272
I think we're safe to close this. In my search through issues and forum posts, there was no indication as to when or if the limitations surrounding per-container IP addressing would be resolved. If that changes in the future, we can dig this out or open a new ticket to investigate.

[2017-05-31 18:52] rfay commented on #272
IMO this should be closed.

[2017-05-31 18:52] #272 closed

[2017-05-31 18:56] rickmanelius commented on #283
It's incredibly impressive that a 2GB Linux VM beats the pants off a souped-up macOS + Macbook installation. I'm still curious how Docker for Mac adds that much overhead (almost 6X) for your particular setup! Alas, we will wait for Docker for Mac to analyze and improve said performance.

[2017-05-31 19:36] beeradb commented on #229
Documentation is done (for now) and ready for review.

[2017-05-31 21:46] rickmanelius commented on #250
Updating labels because I'm not fully sure I understand the implications and the priority.

[2017-05-31 22:19] cyberswat commented on #278
FWIW having CircleCI generate the hashes would be valuable if CircleCI was also generating the *.tar.gz and the *.zip files that are being uploaded with a release.  This is not currently the case.

[2017-05-31 23:25] tannerjfco opened #287 "Provide option to specify extraction dir for import-files and import-db"
## What happened (or feature request):
Feature Request
We have the commands import-files and import-db, which allow users to import a database or uploaded file assets by specifying a path to import. The path provided can be an archive. If an archive is provided for import-db, it must have a sql dump at the root of the archive. If an archive is provided for import-files, the entire contents of the

[2017-06-01 03:23] rfay commented on #278
It's super easy to add the tarballs/zipballs and the hashes to the .circleci/config.yaml... Easier than writing a script to do it locally.

[2017-06-01 15:44] rickmanelius commented on #253
@beeradb This is the ticket that is the v0.6 blocker if you free up and @tannerjfco isn't able to get it.

[2017-06-01 17:42] rfay opened #288 "Namespace container names for ddev"
## What happened (or feature request):

I was testing bootstrap/drud dev in https://github.com/drud/bootstrap/pull/285 and noted that it all broke down because of the use of the container name "nginx-proxy", which drud dev also uses.

Since we're using a name for that container, let's namespace the nbame, like ddev-nginx-proxy, so that we can co-exist with at least drud.

## What you expected to h

[2017-06-01 17:46] tannerjfco commented on #288
I have been thinking we should completely rename "nginx-proxy" to "ddev-router". It better describes the image's purpose, and we've strayed a fair bit from the upstream nginx-proxy it was originally forked from.

I would also be in favor of replacing the local- prefix on site containers with ddev-.

[2017-06-01 18:14] tannerjfco commented on #284
stringutil and try are removed in #277. That leaves network and system:

[code]

[2017-06-01 18:50] rfay commented on #288
Totally agreed @tannerjfco

[2017-06-01 18:51] #147 closed

[2017-06-01 20:25] rickmanelius commented on #125
Bump. Worth prioritizing?

[2017-06-01 20:26] rfay commented on #125
*Way* worth it to me!

[2017-06-01 20:29] rickmanelius commented on #7
Updating labels. Seems like something worth addressing before 1.0 (if the components here are not already addressed elsewhere).

[2017-06-01 23:41] tannerjfco commented on #68
#68 fixes this.

[2017-06-01 23:41] #68 closed

[2017-06-02 02:52] rickmanelius commented on #232
We had a spirited debate on this within the team Slack channel. It boils down to two competing needs:

* Chrome will now mark every non-https connection as insecure, causing unnecessary stress, and confusion for the end user as well as inconsistencies in http/https parity between local/production. A self-signed cert partially solves this but requires the end-user to jump through hoops to accept/tr

[2017-06-02 03:02] rickmanelius commented on #232
FWIW, I'd be OK with a 8-hour timebox to test devcert and determine if that is a viable approach without introducing additional issues/complexity. After that, my preference would be to spend an additional 4-hour timebox to evaluate the security attack vector of the distributed cert approach. If that is also a dead-end, then I think self-signed is better than just HTTP for environment parity.

[2017-06-02 03:22] rickmanelius commented on #232
I did get a few bites/responses on Twitter. Leaving this as another trail to evaluate should there be any additional follow-ups of value.

[2017-06-02 03:52] rickmanelius commented on #284
Making actionable and moving to the board.

[2017-06-02 15:50] rickmanelius commented on #59
One alternative approach to consider. One of the tenets of Docker, as I understand it, is that of inheritance of containers. So we have two options:

* Have a default container configuration and allow ddev to override those through ddev's config.yml.
* Have a default container configuration and use an override Docker config.

Thoughts?

[2017-06-02 19:47] tannerjfco opened #293 "Update nginx docroot dynamically on container start, provide option for custom nginx config"
## What happened (or feature request):
*Updated issue summary*
There are a couple issues surrounding the nginx configuration for sites. First, our current approach of mounting the docroot specifically does not work for sites requiring code or assets residing above the docroot. Second, we currently provide no way to alter the nginx configuration to meet the needs of a given site.

We should impleme

[2017-06-02 20:30] tannerjfco commented on #183
Some ideas/thoughts here. Hopefully it all makes sense, happy to clarify if something's fuzzy.

1. Jurisdiction: What portion of ddev OR the ddev plugins are responsible for the managing the metadata?

I think the config.yaml that 'ddev config' generates should provide the minimal post-deploy steps for drupal or wordpress for the start/import commands, and link off to docs for users to determine w

[2017-06-02 21:30] rickmanelius commented on #257
Testing on Kalabox now.

[2017-06-02 22:00] beeradb commented on #293
small nitpick, is dockergen the best tool there? Seems like maybe this should just be a go binary that templates? dockergen is typically used to respond to changes in docker (like a new site coming online in the nginx-proxy), but it seems like in this case we’re just templating based on environment vars?

[2017-06-02 22:05] tannerjfco commented on #293
The primary motivation behind using docker-gen would be that it is a tool that we already have some familiarity with from the nginx router. There are other templating tools available, another go one i'm aware of off-hand is https://github.com/hairyhenderson/gomplate. I'm not strongly tied to docker-gen if there's a better tool for this.

[2017-06-02 22:09] beeradb commented on #293
There's also just the standard template package, https://golang.org/pkg/text/template/. We probably need to consider users in anything we do, though. i.e. how easy would it be for them to modify or replace a template?

[2017-06-02 22:28] rickmanelius commented on #229
@beeradb Where would be the appropriate place to track reviews? In the new repo? Or @rfay / @tannerjfco adding feedback here? Given this is more technical and (probably) less end-user facing, what feedback (if any) are you looking for from me?

[2017-06-02 22:30] rfay commented on #229
I think at least one of us needs to spend enough time experimenting with elysium, commenting, making issues or PRs. Grokking it. *not* in the first-run context of connecting it with ddev.

[2017-06-02 22:31] beeradb commented on #229
@rickmanelius I don't believe feedback is needed from you at this point. I think that will come when we have actual pantheon integration in ddev.

 I'm happy with any of the following approaches for feedback:
- Google doc
- Issues in elysium
- Comments here
- PR with a bunch of @to-do's in code
- Some other idea.

pretty much open to any method, really.

[2017-06-02 22:38] rickmanelius commented on #257
I must be an unlucky one. Installing Kalabox borks my Docker for Mac version and requires me to uninstall/reinstall. I've tried authenticating with Pantheon or spin up locally. I'm still unable to do either and get errors that I've since filed in their GitHub issue queue. Closing this and we can revisit later. However, if @tannerjfco or @rfay can simply run one more test of spinning up D8 with Kal

[2017-06-02 22:38] #257 closed

[2017-06-02 22:40] rickmanelius commented on #203
@beeradb @tannerjfco Can either of you confirm this is still an issue?

[2017-06-02 22:41] rickmanelius commented on #205
@rfay I see a merged pull request referencing this. Does this solve/fix the issue?

[2017-06-02 22:44] rickmanelius commented on #256
@rfay Fair to say this is handled in https://github.com/drud/ddev/pull/264 and https://github.com/drud/ddev/issues/238?

[2017-06-02 22:46] rickmanelius commented on #261
Tagging w/v1.0 because that is when we are targeting improved Windows support. See [Roadmap](https://github.com/drud/ddev/wiki/roadmap).

[2017-06-02 22:46] rickmanelius commented on #262
Considering this as useful polish. Tagging v1.0

[2017-06-02 22:51] rickmanelius commented on #287
Nitpick. Is it fair to say that it's not just the path to the database file, but also specifying within that which file to use? It's possible (think of some clients we've had in the past) where they have stored multiple database backups in the docroot and having to just guess might be problematic.

What would you suggest as a test for this?

This is close to actionable. Tagging v0.8.

[2017-06-02 22:52] rickmanelius commented on #288
No objections / sounds good. Sounds like a good cleanup item for v0.8.

[2017-06-02 23:01] rickmanelius commented on #39
Works for me. Tagging v0.8. Probably needs a little more specificity to get to actionable unless you feel there is a clear/obvious path.

[2017-06-02 23:01] rickmanelius commented on #67
@tannerjfco Still valid?

[2017-06-03 00:00] rfay commented on #256
When #264 goes in it will automatically close this one.

[2017-06-03 00:01] rfay commented on #205
Yeah, #279 isn't a full approach but it's good enough for now. Closing.

[2017-06-03 00:01] #205 closed

[2017-06-03 00:04] tannerjfco commented on #67
This can be closed. Service names no longer have plugin or sitename. Container names still do, but we're going to replace plugin with a ddev- prefix in #288, at which point this ticket's concerns are all met.

[2017-06-03 00:04] #67 closed

[2017-06-03 00:13] rfay commented on #203
`mkdir ~/testpath && make testpkg` will show this.

[code]

It's not that big a deal, but we should probably find a way not to create things in dev's home dir.

[2017-06-05 16:01] rickmanelius commented on #253
PR merged. Thanks, @tannerjfco!

[2017-06-05 16:01] #253 closed

[2017-06-05 17:07] rfay opened #296 "Update install_ddev.sh after v0.6 release is cut"
## What happened (or feature request):

We're moving to versioned tarballs like ddev_linux.v0.6.tar.gz (or at least circleci is generating tarballs like that) as of https://github.com/drud/ddev/pull/295

This breaks the behavior of install_ddev.sh, which expects to find a generically-named tarball.

So if we use the versioned tarballs, we have to update install_ddev.sh to use them properly.

## Wh

[2017-06-05 18:06] rickmanelius commented on #278
@rfay @cyberswat I'm assuming this specific issue is no longer needed, correct?

[2017-06-05 18:34] rfay commented on #98
Just an FYI, experimental homebrew installation is now available.

* Install with `brew tap drud/ddev && brew install ddev`
* Updates are automatic when homebrew-ddev changes and user does an upgrade: `brew upgrade ddev`
* Maintenance is in [homebrew-ddev](https://github.com/drud/homebrew-ddev/blob/master/Formula/ddev.rb) and that has to be updated for a new release.

[2017-06-05 20:07] #256 closed

[2017-06-05 21:23] rickmanelius commented on #238
All PRs closed. Closing this one!

[2017-06-05 21:23] #238 closed

[2017-06-05 22:29] rickmanelius commented on #281
**Saving a snapshot of my pre-review starting point.**

# ddev v0.6 Review

## Executive Summary

Based on the following analysis, [ddev v0.6](https://github.com/drud/ddev/milestone/6) is NOT ready for release.

## Milestone Overview (Performance)

The intention of this milestone is to ensure end-users have a positive experience with the overall real and perceived performance of ddev while perform

[2017-06-05 22:48] rfay commented on #257
I finally got kbox going and ran one-shot installs on my Macbook Air 2013:

kbox d8 install time web: 2:11
kbox d8 drush si -y install time: 2:03

[2017-06-05 23:01] rickmanelius commented on #283
Related https://github.com/drud/ddev/issues/257#issuecomment-306332027

[2017-06-05 23:34] rfay commented on #257
Just for future reference:
* kbox from Nov 2016 is incompatible with docker edge (17.06.0), so can't be run alongside ddev, which requires 17.06+
* I was finally successful with kbox by
    1. Uninstall current docker 17.06
    2. Install kbox [v2.1.3](https://github.com/kalabox/kalabox/releases/tag/v2.1.3) and let it install its own docker
    3. Let that docker update itself, which results in a

[2017-06-06 14:25] rickmanelius commented on #283
The last result by @rfay in #257 seems to indicate that the 2:1 ratio between the GUI and CLI install times for D8 is not necessarily a given and there are other factors at place. Copying the results here, he timed the following:

* kbox d8 install time web: 2:11
* kbox d8 drush si -y install time: 2:03

Closing this for now because it looks like most of the yield for Docker for Mac will be adjust

[2017-06-06 14:25] #283 closed

[2017-06-06 14:36] rickmanelius commented on #281
# ddev v0.6 Review

## Executive Summary

Based on the following analysis, [ddev v0.6](https://github.com/drud/ddev/milestone/6) is ready for release.

## Milestone Overview (Performance)

The intention of this milestone is to ensure end-users have a positive experience with the overall real and perceived performance of ddev while performing typical day to day tasks. At a minimum, ddev's performan

[2017-06-06 14:37] rickmanelius commented on #281
@cyberswat Assigned to you and ready to release. Thanks!

[2017-06-06 14:38] rickmanelius commented on #284
With the PR closed, can we close this issue @beeradb? Or is there more work to do?

[2017-06-06 14:51] rickmanelius commented on #229
@rfay following up to see if you have had a chance to review before our Wednesday knowledge transfer / @beeradb heading out on PTO this week.

[2017-06-06 15:28] rfay commented on #229
My key goal for today (Tues 6/6/2017) is to see where I can get grokking elysium.

[2017-06-06 16:11] rickmanelius commented on #232
We've decided to wait for end-user feedback. Short term we will not address this. Alternatively, we can scope this to just providing a mechanism to support a self-signed cert.

[2017-06-06 16:13] rickmanelius commented on #175
This is not a priority at the moment. Pulling out of this for now.

[2017-06-06 16:16] rickmanelius commented on #241
No longer relevant for v0.7. Closing out.

[2017-06-06 16:19] rickmanelius commented on #227
As per our testing, these kbox is completely incompatible with ddev and its supported version of her Docker for Mac. A warning needs to be added.

[2017-06-06 16:21] rickmanelius commented on #227
Related https://github.com/drud/ddev/issues/126.

[2017-06-06 16:24] rickmanelius commented on #227
Review again around July 1st to see if it's still a problem. Ideally, this is just a warning for tool incompatibility beyond just Kbox and not just for this specific compatibility.

[2017-06-06 16:35] rickmanelius commented on #39
Needs more work before actionable. Need to consider volumes from non-ddev solutions and also factor in download times (for slow internect connections).

[2017-06-06 16:41] rfay commented on #39
I *think* we only have residual volumes that aren't even necessary?

docker.nginx-php-fpm-local/Dockerfile.in:VOLUME /var/log/nginx
mysql-docker-local/5.7/Dockerfile.in:VOLUME /var/lib/mysql

I suspect we're not doing the right thing in those dockerfiles anyway? Volumes are normally for sharing filesystems between containers right, but we don't actually do that do we?

[2017-06-06 16:43] rickmanelius commented on #293
Related to https://github.com/drud/ddev/issues/7.

[2017-06-06 16:50] rfay commented on #39
This should be totally actionable, and totally appropriate, as originally described. We just have to delete the related volumes.

[2017-06-06 19:12] rickmanelius commented on #281
Since we've merged two milestones together and updated the roadmap, it's worth noting that I didn't explicitly re-review the security items that were moved in. However, they were reviewed at the time and I feel comfortable moving forward with this release.

[2017-06-06 19:48] cyberswat commented on #278
I think it's safe to close this now that artifacts and hashes are being generated by Circle.

[2017-06-06 19:48] #278 closed

[2017-06-06 20:16] cyberswat commented on #281
https://github.com/drud/ddev/releases/tag/v0.6

[2017-06-06 20:16] #281 closed

[2017-06-06 20:17] cyberswat commented on #296
https://github.com/drud/ddev/releases/tag/v0.6 was tagged and released

[2017-06-06 22:05] rickmanelius commented on #125
@cyberswat I know you're getting more time in the issue queue. Is this something you'd like to tackle for v0.8?

[2017-06-06 22:09] beeradb commented on #216
Here's an initial stab at the CLI commands for an initial Pantheon integration.

# Global config with interactive prompts

### Valid config

I think we're going to need some notion of global config, because we don't want API tokens to be stored anywhere they might actually be committed. I was also hesitant to commit to multi-word (i.e. `ddev config pantheon`) commands
both here and elsewhere.

[co

[2017-06-06 22:15] cyberswat commented on #125
Sure thing.  I poked at this a bit in the traditional way before we figured out that it was something cobra would provide.

[2017-06-06 22:37] rfay commented on #216
I spent some time with [Elysium](https://github.com/drud/elysium) today and had an excellent experience. Everything I tried worked as advertised, and casual review of the code shows solid, tested, quality code.

Comments:
* Elysium is extraordinarily fragile and risky unless we can get a working agreement with Pantheon. We could build an ongoing API test, but even then our customers would be broke

[2017-06-06 22:55] rickmanelius commented on #216
# Feedback

This is specifically related to the current state of the comment here https://github.com/drud/ddev/issues/216#issuecomment-306631937.

## Global Configurations

* Overall: I feel global configurations are an inevitability and I'm happy to see us moving in that direction.
* Security: Agreed that anything that shouldn't be stored in a repo belongs in the global config.
* Naming Conventio

[2017-06-07 15:48] beeradb commented on #216
Responses to @rfay in https://github.com/drud/ddev/issues/216#issuecomment-306637226

This is absolutely correct. I believe there are factors in play that help mitigate this, but regardless, the risk is still there.

- Other tools (such as kalabox) are implementing the API.
- Terminus is also implementing the API. Any changes to the API would likely be made in terminus and pushed out before change

[2017-06-07 16:33] beeradb commented on #216
responding to @rickmanelius in https://github.com/drud/ddev/issues/216#issuecomment-306640415

My thinking was that a single config file with a "provider" key would likely be enough. I think if there's a use case for multiple import sources then having multiple configs might make sense, although we'd have to consider how to handle it in the `ddev import` command. So, I guess I'm open to it, but it

[2017-06-07 17:12] rickmanelius opened #298 "Documentation: How to Connect ddev to Hosting Providers"
## What happened (or feature request):

Request!

## What you expected to happen:

Given that we're still discussing how to support different hosting providers / PaaS solutions, it will be helpful to provide end-users with instructions on how to best connect ddev to a generic production environment. This could be focused on using things like drush (which has rsync and sql-sync capabilities) or oth

[2017-06-07 17:15] tannerjfco commented on #287
I'm pretty sure the functionality should allow for defining a specific file to extract, as well as directories, as desired.

The extraction functionality already has test coverage for providing a path to filter, so additional test coverage will be to test providing a path to filter at the platform package level.

[2017-06-07 17:37] tannerjfco commented on #293
We can use another tool, or make our own binary that templates files, but I don't see a strong case for doing so when we have a tool we are already familiar with. docker-gen is a file generator that renders templates using docker container meta-data. It *can* actively watch for changes to respond to, but it doesn't need to. To me, it seems like this is a valid use case for docker-gen, though it is

[2017-06-07 18:02] rfay commented on #216
@rickmanelius requested "technical/maintenance considerations that would make a provider plugin either in the main ddev codebase or to extend the ddev codebase untenable. Another factor to consider: how would not including this affect a GUI, which at this point assumes a CLI equivalent/parity":

First, *nothing* makes a provider plugin for Pantheon/Terminus untenable. I think Elysium proves it can

[2017-06-07 19:16] rfay opened #300 "Docker restart results in nginx-proxy being MIA"
## What happened (or feature request):

I restarted docker.
ddev sites became unusable because the nginx-proxy went away. (It stopped, was not deleted)
Easy to fix: `ddev start` brings the router back

## What you expected to happen:

Docker restart shouldn't break ddev

## How to reproduce it (as minimally and precisely as possible):

Start a site
Restart docker
Visit the site. You won't.

## Any

[2017-06-07 21:27] rfay commented on #229
IMO this ticket is complete with Brad's current version of Elysium.

[2017-06-07 22:43] beeradb commented on #216
I started reworking everything from above, but ended up backing out of that as I really feel the combination of `ddev config` and `ddev import-config` into a single command is actually the crux of it. The rest feels fairly cosmetic to me.

# Global config and ddev import

The only change to these items has been changing `ddev pantheon-config` to `ddev config-pantheon`. I've omitted them here for b

[2017-06-08 02:57] #296 closed

[2017-06-08 03:41] #229 closed

[2017-06-08 14:15] beeradb commented on #300
I did some testing on this, and it's been present at least as far back as `v0.1`. I had thought it was perhaps a change we'd made to the router in the last few releases, but it certainly looks like it's a long-standing issue.

[2017-06-08 14:48] beeradb commented on #300
Opened PR for this in https://github.com/drud/elysium/pull/6/files

[2017-06-08 17:23] rfay commented on #7
This issue is obsolete, closing. New approaches are in #293

[2017-06-08 17:23] #7 closed

[2017-06-08 17:28] rickmanelius commented on #216
Overall, this is trending in the right direction. I know this has the ability to get bike-shedded, and I would be willing to accept the last proposal versus arguing over details that may not matter and we can change/refactor based on user feedback. And while I know the linking to private Slack channel's is not ideal in public issue queues, there were some useful summaries worth referencing here ht